[2018-11-20 10:30] catcher-in-the-try opened #4143 "`azureRegion cannot be null`"
I am trying to use the code for Computer Vision from here:

[code]

This produces an error:

There is no mention of any `azureRegion` anywhere in the documentation.

Can you check if this an error in the documentation or in the code? Thanks.

[2018-11-20 14:56] DaftDev commented on #2870
I too was receiving this error after creating a new copy activity, and then cloning that activity to target different tables.

The workaround that ultimately worked for me here was clicking the "Import Parameter" button when editing the Copy Activity -> Sink tab:

![image](https://user-images.githubusercontent.com/1280197/48781314-6862df00-eca1-11e8-87e1-3e82b842d4a0.png)

Even though the text sta

[2018-11-20 15:23] amarzavery commented on #2870
@hvermis @arthurwms - Looks like lot of people are having similar issues. It would be great if the issues posted here can be looked at with higher priority?

[2018-11-20 17:42] scottbell commented on #4143
This worked for me:
`const region = "westus";
let client = new vision.ComputerVisionAPIClient(credentials, region);`

[2018-11-20 17:43] scottbell commented on #4143
I had to look at the constructor source code of ComputerVisionAPIClient to figure this out though.

[2018-11-21 06:51] ajpyoungViseo opened #4159 "returning password in credentials"
Using a sample code

[code]

The credentials return the password of the user... is this not a security risk? The return payload includes the password of the user?

[2018-11-21 09:00] amarzavery commented on #4159
Well you are setting the password value in the variable either in the app or via environment variable. Someone can also read the environment variable values.

There is an in memory token cache as well. If someone gets access to it then that can be problematic as well. There would be some sort of risk at every step.

How  and where do you plan to use the credential object, is key to the problem at

[2018-11-21 09:30] ajpyoungViseo commented on #4159
In reality, I'm just using this to validate employees using our in-house applications. We use MS online services heavily and was tasked to bypass our internal login in favor of login validation from online MS/Outlook/Azure.

When I found out about credentials return structure, I thought it might be of concern, although I'm not a security expert. If you guys think it's ok then I guess there's no pr

[2018-11-21 10:10] amarzavery commented on #4159
It is uncommon for a user to share his/her username/password creds with other people to login. So if the credentials are not shared in that sense then everything should be ok.

[2018-11-22 01:39] solankisamir commented on #3857
Nuget is out with the fix https://www.nuget.org/packages/Microsoft.Azure.Management.ApiManagement/4.0.6-preview

[2018-11-23 08:19] sachin11nov opened #4176 "azure-arm-network virtualnetworks checkIPAddressAvailability returns a blank object"
I am using azure-arm-network node package, but for some reason checkIPAddressAvailability always return a blank result.

The document seems to be of not much use from here: https://docs.microsoft.com/en-us/javascript/api/azure-arm-network/virtualnetworks?view=azure-node-latest#checkipaddressavailability-string--string--string--object-

What am I missing?

`    'use strict';

    const msRestAzure

[2018-11-23 08:56] Liamdelee opened #4177 "Cannot find module'azure-arm-datalake-store' after npm install"
Hi

I am trying to get the azure-arm-datalake-store node module going but for some reason this one is not working at all. I installed other once like azure-arm-website, async, adal-node azure-common and they all just load fine.
However once i installed this one (no errors btw) i just get the cannot find module 'azure-arm-datalake-store' error.
Can somebody please help me with this? Thanks!

[2018-11-23 10:49] alexjchapman opened #4178 "Bug: API Management SDK unable to add more than 41 external groups."
When adding groups to an APIM instance from Active Directory I see the following error: "Failed to query Azure Active Directory graph due to error: An error occurred while processing this request."
We've seen this on version 4.0.0-preview and version 4.4.0-preview, using version 8.10.0 of Node.

This (repeatably) only happens when we have more than 41 groups registered in APIM, and doesn't happen

[2018-11-25 20:23] kochevRisto opened #4186 "[Help wanted] Can I assign/add a user to application?"
Can a user be assigned to enterprise application using azure-graph?

[2018-11-26 17:17] #4159 closed

[2018-11-26 17:34] daschult commented on #3857
Since the NPM and Nuget packages have both been updated with the fix, I'm going to close this issue.

[2018-11-26 17:34] #3857 closed

[2018-11-26 18:24] daschult commented on #3445
@yangyuan What do you suggest @ALEUT does in this scenario? As you can see from his example URL (https://api.cognitive.microsoft.com/bing/v7.0/search?count=40&mkt=en-US&offset=0&q=%2BYoga&responseFilter=Webpages%2CSpellSuggestions&safeSearch=Strict), the comma in his `responseFilter` is getting encoded as %2C. Does WebSearch decode query parameters before it attempts to use them? Does it do that d

[2018-11-26 20:41] #4143 closed

[2018-11-26 20:42] daschult commented on #4143
I just merged a PR (https://github.com/Azure/azure-sdk-for-node/pull/4197) that should resolve this problem. Please reopen this issue if the problem isn't fixed.

[2018-11-26 21:38] daschult commented on #3162
Hi @rodsnjr. Are you still having this issue?

[2018-11-26 22:22] chengtan2016 commented on #4177
Hi,
I ran into the same issue as well. Seems the `main` property in package.json file is not set to the name of script being exported from module. I have to downgrade to version 3.0.0 too.

[2018-11-28 03:58] kpajdzik opened #4210 "Fix file names with two different casings"
https://github.com/Azure/azure-sdk-for-node/tree/master/lib/services/networkManagement2/lib/models folder contains two files with name that differs in casing only - httpConfiguration.js and hTTPConfiguration.js

[2018-11-28 17:42] #4210 closed

[2018-11-30 00:42] cwatsonc opened #4225 "ms-rest-azure missing class definition"
Not sure what is causing this error I'm relatively new to MSI and am using ms-rest-azure and ms-keyvault to recover a KeyVaultClient which in turn is used to get secrets from the vault

[code]

Which fails on the initialization step:

[code]

[2018-11-30 17:42] daschult opened #4230 "Update message in Node.js package README.md files to point to specific new JavaScript repository"

[2018-11-30 17:42] daschult opened #4231 "SwaggerToSDK build drops are not showing up"

[2018-11-30 21:18] daschult commented on #4225
What version of azure-keyvault and ms-rest-azure are you using? I just copied the code you pasted in this issue into a folder locally, installed the latest version of azure-keyvault (3.0.4) and didn't get the same problem that you described above.
The problem that I did get, however, was related to your code:
[code]
complains because the argument to MSRestAzure.loginWithAppServiceMSI() has two req

[2018-11-30 22:11] cwatsonc commented on #4225
[sample code shows same method signature -- ](https://github.com/Azure-Samples/key-vault-node-quickstart)

    "azure-keyvault": "^0.11.0",
    "ms-rest-azure": "^2.5.9",

[2018-11-30 23:57] cwatsonc commented on #4225
I have upgraded the version to 3.0.4 and it fails the same way.  Do you agree that the method signature remains the same with the example and my code?  What method are you describing which require an object with two properties? `msiEnpoint` and `msiSecret`?

[2018-12-01 00:05] daschult commented on #4225
[This file](https://github.com/Azure/azure-sdk-for-node/files/2635351/nodeTest.zip) contains a sample project with your source code. I've commented out a couple of lines and added a couple of lines to get it to run. The values are obviously wrong which is what will cause this error when you run the program:
[code]
but at least you should be able to get past your original error.

[2018-12-01 01:00] cwatsonc commented on #4225
@daschult the whole point of migrating to MSI's was to avoid configuring secrets in configs and code -- the way the API is described it is supposed to deliver the MSI secret with the call to the MSAzure object based upon the underlying configuration and app registration.  The code works as coded on my POC which used the module versions you shared in the comments -- it works in my configuration wit

[2018-12-01 04:21] cwatsonc commented on #4225
There are comments in the source you reference that describe two ENV variables MSI_SECRET and MSI_ENDPOINT which are provided by the Azure [platform as described in this article](https://azure.microsoft.com/en-us/resources/samples/app-service-msi-keyvault-node/).  I think the original code works for that reason.  The endpoint property is also listed as optional but not sure what value the default

[2018-12-03 17:36] daschult commented on #4225
You're definitely correct on wanting to avoid putting your secrets in your configuration files or your code. It looks like the [MSIAppServiceTokenCredentials](https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest-azure/lib/credentials/msiAppServiceTokenCredentials.js#L17) class (which is used by `loginWithAppServiceMSI()` for authentication) [first looks](https://github.com/Azure

[2018-12-03 18:14] cwatsonc commented on #4225
After resolving the issue with library version update I am getting another
error:

secretName:  supersecret, configSectionName: general, configFieldName:
charleySecret
https://kv20181030.vault.azure.net/

//KeyVault returns the following ObjectID
ObjectIdentifier {
  vault: 'https://kv20181030.vault.azure.net',
  name: 'supersecret',
  version: null,
  baseIdentifier: 'https://kv20181030.vault.azu

[2018-12-03 19:35] daschult commented on #4225
I'd recommend looking at the code referenced in the stack trace and then determining where you're missing a vaultBaseUrl property.

[2018-12-04 07:50] thomas3577 opened #4335 "GraphRbacManagementClient.users.update ignores extension properties"
I added some extension properties using the [Graph-Explorer](https://graphexplorer.azurewebsites.net/), based on the documentation [Directory schema extensions | Graph API concepts](https://msdn.microsoft.com/en-us/library/azure/ad/graph/howto/azure-ad-graph-api-directory-schema-extensions)

And now, when I try to update these properties via the azure-graph (NPM-Package), then the values of my ext

[2018-12-04 09:40] thomas3577 commented on #4335
Maybe it would be nice to have the opportunity to expand the models?

**For example at azure-graph/lib/users.js (line 621) at version 4.3.0:**
[code]

Hm... Maybe a little complicated and not safe. I don't know.

[2018-12-04 18:01] daschult commented on #4225
It seems like your most recent error is an actionable one that should move you towards having the SDK work properly. I'm going to close this issue. If you continue to have problems, feel free to reopen it and I can continue to help you out.

[2018-12-04 18:01] #4225 closed

[2018-12-05 14:15] patchmeifyoucan opened #4370 "API version can be accessed from resource or client"
I am using the NodeJS client libraries for any kind of deployment.
Sometimes a generic handling of resources is needed, e.g. deleting a dependency resource after the parent resource was deleted.

The azure-arm-resource@7.2.1 client has a property apiVersion defined, even though it is not documented (so i think it's a bug). Other clients, such as azure-arm-compute|network|storage|sql are missing th

[2018-12-05 17:46] daschult commented on #4370
Hi @patchmeifyoucan. I think the SDKs aren't completely clear about the relationship between resources and API versions. API versions are associated with operations, not resources. For example, let's say that you create a new resource (let's call it R1) using a create operation and a specific API version (API1). If the Resource Provider releases a new API version (AP2), you should still be able to

[2018-12-06 01:47] mikeharder opened #4376 "KeyVault tests are flaky on Node6 and Node8"
The KeyVault tests have failed several times on our Azure Pipelines agents.  So far, the failures have all been on Node versions 6 and 8.

## macOS/Node6
### https://dev.azure.com/azure-sdk/public/_build/results?buildId=1105
[code]

### https://dev.azure.com/azure-sdk/public/_build/results?buildId=1165
[code]

### https://dev.azure.com/azure-sdk/public/_build/results?buildId=1224
[code]

### https

[2018-12-06 05:28] fmaker opened #4379 "[Azure Bot Service] Register Bot channel via API"
This is supported in the .NET SDK, but not nodejs yet: https://github.com/Microsoft/BotBuilder/issues/4701

[2018-12-06 13:34] patchmeifyoucan commented on #4370
Hello Dan,

thanks for the quick response. I now have a better understanding of the API versions. You are right, I did not mention a particular problem with deleting resources. I will try to explain why opened this issue in the first place. I also looked at the HTTP requests and responses, what follow is basically a question how to handle this type of behavior.

Currently, I use the latest client

[2018-12-06 13:56] zommarin opened #4388 "Incompatible API version for azure-arm-containerservice"
When using the current version of the npm modules azure-arm-containerservice (version 6.1.0) API calls to Azure to create Kubernetes clusters fail with the message:

[code]

Downgrading the npm package to version 5.0.2 resolves the issue (version 6.0.0 does not work either) and then the API calls to Azure are done using the `2018-03-31` API version.

[2018-12-06 19:17] daschult commented on #4370
Okay, I think I understand your scenario a little better. So the problem is that after creating a managed disk using the [ComputeManagementClient](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/computeManagement2/lib/computeManagementClient.js#L26).[disks](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/computeManagement2/lib/computeManagementClient.js#L9

[2018-12-06 19:30] daschult commented on #3162
At some point in the near future we will be deprecating the packages in [azure-sdk-for-node](https://github.com/Azure/azure-sdk-for-node) and asking everyone to move to the packages in [azure-sdk-for-js](https://github.com/Azure/azure-sdk-for-js). You can find the JavaScript (Node.js and browser compatible) version of the ComputerVision package [here](https://www.npmjs.com/package/@azure/cognitive

[2018-12-06 19:31] daschult commented on #3162
@danang-id, please comment on this issue and let me know if using the new package solves your problem.

[2018-12-06 19:40] mikeharder opened #4391 "npm audit fails with "Your configured registry does not support audit requests""
## https://dev.azure.com/azure-sdk/public/_build/results?buildId=1338
[code]

@bterlson: Ever seen this before?

[2018-12-07 12:00] patchmeifyoucan commented on #4370
If I provide a "correct" API version, everything works fine. The deletion as such works without any problems, I just have to manullay provide or parse the API version, which seems a bit tedious to me.
So having an apiVersion property would solve my problem for resources I created myself.

That leaves the remaining problem for resources I did not create. From your first reply I understood that API

[2018-12-07 15:37] kochevRisto opened #4402 "Error: interval must be of type moment.duration."
I receive "Error: interval must be of type moment.duration." when I'm using moment.duration() as interval in metrics.list in azure-arm-monitor. The moment versions that I'm using is 2.22.2.  If I comment out the validation for the duration ( if(interval && !moment.isDuration(interval)) ) in the metrics I receive the correct response.

[2018-12-07 17:45] daschult commented on #4370
I just asked around and it looks like there are two options:
1. I think it would be a good idea if each client exposed its API version as a property that could be used for this type of scenario. I can't guarantee when this can be worked on, but it's a good idea.
2. There already exists an [operation](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/resourceManagement/lib/resour

[2018-12-07 17:48] daschult commented on #4402
If you revert moment to 2.21.0 does the problem go away? It's frustrating that packages having breaking changes when they only bump the minor version, but it does happen occasionally, so that might be happening here.

[2018-12-08 14:30] patchmeifyoucan commented on #4370
Adding option 1 sounds great. Thanks for providing the links. 👍 I'll look into it.

Are we leaving this open to track progress?

[2018-12-10 08:32] kochevRisto commented on #4402
No, the previous versions are not working.

[2018-12-10 12:38] mjyeaney opened #4418 "Support of AAD v2 endpoint?"
When leveraging ms-rest-azure to perform authentication, I noticed that you cannot use "live" accounts against a tenant - instead you need an organizational account in order to successfully acquire tokens for various reesource providers (even though AuthN works). Without this, you receive errors indicating there is a tenant mismatch / etc....this is most likely coming from leveraging the AAD v1 en

[2018-12-10 17:30] daschult commented on #4370
I've created those two issues above (one for our Node.js generator and one for our TypeScript/JavaScript generator). Let's keep this issue open until you've confirmed that option 2 works for you. I can't guarantee when we'll get around to implementing these changes, so I'd look into option 2 for now.

[2018-12-10 17:38] daschult opened #4420 "Case insensitive error-parsing in ms-rest-azure"
A ServiceFabric team member pointed out that they are returning error objects with properties in PascalCase ("Error", "Code", and "Message") but our code is looking for those properties in CamelCase ("error", "code", "message").

[2018-12-10 17:48] patchmeifyoucan commented on #4370
Alright. I will be able to look into it next monday. Currently out of office.

[2018-12-11 22:25] Powerhelmsman opened #4438 "notificationhubservice.createOrUpdateInstallation doc incorrect"
The issue was created by @gerhardcit from https://github.com/MicrosoftDocs/feedback/issues/301
notificationhubservice node-sdk documentation
The docs at https://docs.microsoft.com/en-us/javascript/api/azure-sb/notificationhubservice?view=azure-node-latest
are missing lots of details and some parameters are incorrect.
Documentation details
function createOrUpdateInstallation(installation, options,

[2018-12-14 01:55] princjef opened #4453 "[azure-arm-eventhub] Incorrect payload returned when namespace list has no results"
When using the namespace list API of the `azure-arm-eventhub` package, the API returns an object instead of an array when the subscription has no namespaces. This problem also appears to exist in the `azure-arm-sb` package.

Example code:

[code]

I did some digging into this and the issue appears to be related to the deserialization logic and/or mapper for this call. I tested this out by setting

[2018-12-19 19:22] patchmeifyoucan commented on #4370
I was not able to look into this earlier. But your proposed solution works. 👍
The behavior concerning new vs. old API version is correct. I can delete any resource using a provider's latest API version.
While option 1 is still a bit easier, option 2 is pretty easy as well.

Thanks a lot.

[2018-12-19 19:22] #4370 closed

[2018-12-20 01:48] scott-lin commented on #3778
This is blocking our team from using MSI because we cannot specify the resource in our TypeScript code due to compiler error.

[2018-12-20 17:25] daschult commented on #3778
This got fixed in https://github.com/Azure/azure-sdk-for-node/commit/4b85045b101104487c04fd355f66a01344744950 but hasn't been published yet. I'll work on making that happen today.

[2018-12-21 20:59] andrewkittredge opened #4489 "Cannot find file named 'approot\bin\setup_web.cmd'"
Created a new node WebService.  When I try to start the emulator I get the error

CloudServices64 : Cannot find file named 'approot\bin\setup_web.cmd' for startup task setup_web.cmd > log.txt  of role CBPush.

I think this a duplicate of https://stackoverflow.com/questions/51652142/error-message-when-trying-to-publish-node-js-express-to-azure-setup-web-cmd-mis

[2018-12-24 16:37] alossar opened #4491 "[azure-sb] Delete an installation and then create a new one with same InstallationId doesn't work"
If I register a device with a new string for installationId, it works as expected. But if I delete that installation and try to create a new one using the same string for Installation Id, it appears it does not get registered in the hub.

Is this the expected behavior? Should I generate a new Id every time I want to install a device, even if it's the same device token?

[2018-12-26 14:08] alossar commented on #4491
I found out that trying to install a device with the same data twice, after deleting it, results with a 200 operation, but nothing is listed when you try to get the installation.

But if I alter that data somehow (I added a random tag), it does install the device with the same installation id.

[2019-01-01 08:06] MiyoAlpizar opened #4496 "SERVICE_BUS_NOTIFICATION_APNS_EXPIRY value is wrong"
The constant value for SERVICE_BUS_NOTIFICATION_APNS_EXPIRY: 'ServiceBusNotification-ApnsExpiry' it´s wrong it must be SERVICE_BUS_NOTIFICATION_APNS_EXPIRY: 'ServiceBusNotification-Apns-Expiry', because the expiration date is not working when u send a push notification.

[2019-01-04 15:58] MeiyappanKannappa opened #4509 "Unable to send CustomProperties to Azure Topic from Nodejs"
Hi,

I tried to push message to Azure topic with custom properties as suggested by below website:

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-nodejs-how-to-use-topics-subscriptions

Topic explorer has two windows in it, one is Message Text and another one is custom properties.
As per the documentation, properties added in customproperties should land on custom propert

[2019-01-04 19:39] camous commented on #1754
beware, you are stringify the whole message object rather only the body.

[code]

[2019-01-07 17:37] AlexGhiondea opened #4514 "Duplicate entries in the subscriptionManagement/models/index.js file causing rollup issues"
The following lines are in the file twice and should be removed:

[code]

[2019-01-07 21:08] princjef commented on #4453
Any word on this?

[2019-01-07 21:21] daschult commented on #4453
Unfortunately we're spending less and less time in the azure-sdk-for-node repository and we're trying to get everyone to move over to azure-sdk-for-js. Most of the time the change should be pretty minimal. In your case, I'd recommend depending on @azure/arm-eventhub instead of azure-arm-eventhub. That may be a better option for you than waiting for us to fix things in this repository.

[2019-01-07 21:52] princjef commented on #4453
Ah okay thanks for the information! I was unaware that a parallel package had been created under the `@azure` scope. I'll take that for a spin and follow up with anything I find over in that repo.

[2019-01-08 19:48] princjef commented on #4453
It looks like this is still a problem in the new packages, so I opened an issue over there as well: https://github.com/Azure/azure-sdk-for-js/issues/911

[2019-01-08 23:31] kpajdzik commented on #2836
Related issue in TypeScript SDK - https://github.com/Azure/ms-rest-nodeauth/issues/42

[2019-01-11 12:13] SibinSivanand opened #4536 "Getting dependency issue in azure-keyvault with angular 7"
We are trying to use azure-keyvault and ms-rest-azure packages for our angular 7 application.

How ever with **npm install** and **ng serve** I end up getting following dependency error.

Any work around for the issue?

Adding my project versions if that helps:

Angular CLI: 7.1.4
**Node: 8.11.3
npm: 6.3.0**
OS: win32 x64
Angular: 7.2.0
... animations, cdk, common, compiler, compiler-cli, core, fo

[2019-01-12 01:20] #2836 closed

[2019-01-14 05:57] Straightly commented on #4418
Got the same error.  But not sure it is caused by version differences.  The wrong issuer is just another directory different than the directory the asset is in.  Can anybody help?  I can successfully do the same thing with the same info using PowerShell SDK.

[2019-01-14 06:15] Straightly opened #4542 "Cannot login to Azure account. Seemed to be same issue as #1953 which was closed without resolution."
WS-Trust RST request returned http error: 500 and server response: AUTH ERROR 1003

It seemed to be the same issue as "User Can Login to Azure Portal and has full access but SDK can't acquire token #1953".  That issue was closed as the reporter abandoned his effort.

[2019-01-15 12:31] Deagler commented on #4438
Made a [pull request](https://github.com/Azure/azure-sdk-for-node/pull/4548) to resolve this.

[2019-01-15 15:43] ankitsoftobiz commented on #2974
@amarzavery Did you added Servicebus session client or something to receive the message from topic subscriptions that require a session by passing the sessionId? and Is it available in the latest package for Azure service bus?

[2019-01-15 19:04] BrandonColl opened #4551 "[azure-arm-timeseriesinsights] Leaking types from moment"
When using the current version of the npm module azure-arm-timeseriesinsights (Version 1.1.0) there is a type dependency on moment at this line:

https://github.com/Azure/azure-sdk-for-node/blob/05140d5ac6b9e16b72053d50ebece28c956efcf6/lib/services/timeseriesinsightsManagement/lib/models/index.d.ts#L186

Moment is not included in azure-arm-timeseriesinsights package.json as a required dependency.

[2019-01-15 21:17] #3778 closed

[2019-01-16 20:04] schaabs opened #4554 "Record Key Vault data plane tests for 7.1-preview"

[2019-01-16 23:02] jochenvanwylick opened #4562 "storageAccounts.regenerateKey() Promise never resolves ?"
I'm using an Azure function to look for certain events, and if I think they are suspicious, I want to rotate my storage account keys. The plumbing works - I'm getting events in my function and I'm trying to rotate the storage account key.

However - I cannot get the key rotation to work. Here's the code:

[code]
My code never hits the key2 re-generation bit. I was using `await` at fist, but the co

[2019-01-17 00:43] #2703 closed

[2019-01-17 15:40] jochenvanwylick commented on #4562
Digging around in the code - I noticed that the Credentials provided by MSI are used later to sign the request to the REST endpoint.

I noticed this line in the code:
https://github.com/Azure/azure-sdk-for-node/blob/c60e6c17ec10d70ce54695d3d61acb185e4fb086/runtime/ms-rest-azure/lib/credentials/msiTokenCredentials.js#L98-L100

That does not make a lot of sense to me, what do you think:? Could that

[2019-01-17 19:20] kurtzeborn opened #4563 "Use matrix instead of templates for vmImage parallelism"
Example: https://github.com/Azure/amqp-common-js/blob/master/.azure-pipelines.yml

[2019-01-18 01:32] kurtzeborn opened #4568 "Create tags and releases for current and previous AMQP-common releases"

[2019-01-18 17:59] mikeharder commented on #4391
Another failure: https://dev.azure.com/azure-sdk/public/_build/results?buildId=2665

It seems that npmjs.org occasionally has outages where audit requests are rejected.

[2019-01-18 17:59] #4391 closed

[2019-01-20 21:29] wobeng opened #4576 "schedule and cancel message on service bus queue using the sdk"
Is it possible to schedule and cancel message on service bus queue using the sdk?

[2019-01-22 10:27] sw-tt-janvivakotar opened #5098 "Is it available of certificates object in IoTHubClient class??"
Hello,
i have to upload root certificate in azure iot hub..

var client = new IoTHubClient(credentials, 'your-subscription-id'); //for connect iothub
It gives in return of object, it contains like credentials,iotHubResource,operations etc..but its not gives me certificates..

so how can i upload root certificate using Microsoft Azure SDK for Node.js??

[2019-01-23 01:43] #4563 closed

[2019-01-24 11:29] matpadikar opened #4585 "Generating credential object using OAuth access token/auth code"
There doesn't seem to be an option to generate 'credential' using access-token/auth-code received using OAuth 2 in https://www.npmjs.com/package/ms-rest-azure.

Is there anything I am missing here?

[2019-01-29 05:43] jingbe commented on #3082
Did you solve this problem?

[2019-01-29 19:20] imalao opened #4601 "Feature Request: Service Bus Queue Message Notifier"
The Node.js sample has the consumer check the queue for new messages (https://github.com/Azure/azure-sdk-for-node/tree/master/lib/services/serviceBus#how-to-use).

It'd be great to have a feature to deliver messages as they come into the queue or for the consumer to be notified that there are new messages.

I believe the .NET Azure SDK has this feature through its `onMessage` method (https://docs.

[2019-01-29 22:05] mralbertchen opened #4603 "Incompatible signing algorithm for azure-keyvault"
Not sure if this is the SDK's issue but I'm getting this error:

`Error: Key and signing algorithm are incompatible. Key <my-key> uses curve 'SECP256K1', and algorithm 'ES256K' can only be used with curve 'P-256K'.`

My understanding is that SECP256K1 *is* P-256K.

https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates

[2019-02-03 18:41] #4576 closed

[2019-02-04 20:04] #4230 closed

[2019-02-06 11:25] alexjchapman commented on #3638
I'm using `azure-arm-authorization@8.0.0` but I'm getting the following error:

```Error: The api-version '2018-09-01-preview' is invalid. The supported versions are '2018-11-01,2018-09-01,2018-08-01,2018-07-01,2018-06-01,2018-05-01,2018-02-01,2018-01-01,2017-12-01,2017-08-01,2017-06-01,2017-05-10,2017-05-01,2017-03-01,2016-09-01,2016-07-01,2016-06-01,2016-02-01,2015-11-01,2015-01-01,2014-04-01-pr

[2019-02-06 13:00] mb590721 commented on #4536
Hi,

We have the same issue when using Angular 7 with the `@azure/event-hubs:1.0.8` dependency.

<pre>
WARNING in ./node_modules/ms-rest/lib/serviceClient.js 441:19-43
Critical dependency: the request of a dependency is an expression

ERROR in ./node_modules/adal-node/lib/cache-driver.js
Module not found: Error: Can't resolve 'crypto' in 'C:\Users\mbarbin\Documents\Azure_IA\azure-mastermind-visual

[2019-02-06 17:57] mikeharder opened #4643 "Update pipeline job names and dependencies"
- Rename job from `Publish` to `Build`
- Rename job from `Audit` to `Analyze`
- Make `Static Analysis` and `Test` depend on `Build`

See guidelines https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki?wikiVersion=GBwikiMaster&pagePath=%2FAzure%20DevOps%20Pipeline%20Guidance&pageId=2&anchor=build-pipelines-jobs

[2019-02-07 03:03] amclin opened #4649 "StorageManagementClient fails to sign requests when authenticated using Service Principal"
`StorageManagementClient.storageAccounts.checkNameAvailability()` fails when authenticated using a Service Principle

### Example code
[code]

### Error thrown
`callback is not a function`

### Root cause
There appears to be a mismatch in the interfaces between the different packages. Specifically:

`applicationTokenCredentials.signRequest()` in `ms-rest-azure` expects a callback parameter. That p

[2019-02-08 00:17] amclin commented on #4649
This also fails for the same reason if I use `interactiveLogin()` instead of `loginWithServicePrincipalSecret()`

This only works if I create the StorageManagementClient using the "azure" package instead:
[code]

Why does ```azure createStorageManagementClient``` not do the same thing as new ```@azure/arm-storage new StorageManagementClient```

The inconsistencies in the SDKs are maddening. The ex

[2019-02-08 01:17] amclin opened #4655 "StorageManagementClient.blobServices is missing in azure-arm-storage"
According to the docs, `blobServices` is supposed to be a property on the StorageManagementClient:
https://docs.microsoft.com/en-us/javascript/api/azure-arm-storage/storagemanagementclient?view=azure-node-latest

However, when initializing a StorageManagementClient, `blobServices` is undefined.
![screen shot 2019-02-07 at 5 04 38 pm 2](https://user-images.githubusercontent.com/105728/52453372-de86

[2019-02-08 17:19] MLoughry opened #4660 "[Service Bus] There is no obvious way to retrieve messages from the dead letter queue"
Currently, there's no available method on the [`ServiceBusService` object](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/serviceBus/lib/servicebusservice.js), not any other mechanism I can find, to read messages from a dead letter queue.

Doing some quick research on the .NET client, it seems that all `QueueClient.FormatDeadLetterPath()` does is simply append `/$DeadLetterQu

[2019-02-14 10:27] davidobrien1985 opened #4683 "Seemingly no way to create a VM shutdown schedule"
I’m writing an Azure Function (nodejs) that will create a VM shutdown schedule on VMs that don’t have one, since Azure Policy can’t do this (see my other email without a solution).

I am having an issue however listing schedules:
https://docs.microsoft.com/en-gb/javascript/api/azure-arm-devtestlabs/schedules?view=azure-node-latest#list-string--string--object-
All of these methods require the `labN

[2019-02-14 12:47] mikomraz opened #4684 "Linux Consumption Functions don't have a `.scm.` website"
`Azure.createASMWebSiteExtensionsClient(siteName, token).baseUri` gives a URL of the format `https://siteName.scm.azurewebsites.net:443`, but for a Python Function, no such host exists, and therefore it is not possible to fetch a Function config.

### Example code
[code]
### Error thrown
Host unresolvable

### Root cause
There is no SCM website for a Linux app (Python)

### Steps to reproduce
Usin

[2019-02-18 20:56] davidobrien1985 commented on #4683
For whatever reason it wasn't obvious to use this here: https://docs.microsoft.com/en-gb/javascript/api/azure-arm-devtestlabs/globalschedules?view=azure-node-latest#listbyresourcegroup-string--object-

[2019-02-18 20:56] #4683 closed

[2019-02-19 22:35] EricJizbaMSFT opened #4706 "Remove period at beginning of storageEndpointSuffix"
My connection strings listed in the portal have this at the end: `EndpointSuffix=core.windows.net`, but `azureEnvironment.js` has an extra period on `storageEndpointSuffix` at the beginning. Using that as EndpointSuffix doesn't work for me.

This doc uses Azure China as an example and seems to back up my suggestion:
https://docs.microsoft.com/azure/storage/common/storage-configure-connection-strin

[2019-02-21 13:37] mikakouvo commented on #2870
Hi,

Tried to test Incrementally load data from multiple tables in SQL Server to an Azure SQL database (https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-multiple-tables-powershell) with ADFv2, but I'm facing the issue with failing copy activity:

"errorCode": "2200", "message": "'Type=System.Data.SqlClient.SqlException,Message=The procedure "usp_upsert_project_table" h

[2019-02-21 15:28] awaldow opened #4718 "SchemaContract value field is not being populated when calling apiSchema.get"
https://github.com/Azure/azure-sdk-for-node/blob/d662a286e16b44eed6f968478c15b53cc14aa93e/lib/services/apimanagement/lib/models/schemaContract.js#L79-L81

I was attempting to use the apiManagementClient to pull down the schema for one of my APIs and noticed the returned response did not contain the document itself, just the metadata. Upon further investigation, I noticed that deep down in the _get

[2019-02-21 16:46] awaldow commented on #4718
To provide some additional context, the following screenshots tell the story around line 570 of apiSchema.js.

First, the responseBody object as it is before it's been parsed:
![apischema responsebody](https://user-images.githubusercontent.com/418567/53185850-1c377b80-35bd-11e9-9da4-7c46db241e0b.PNG)

Though I could not show the whole thing, if you were to look through the document object further

[2019-02-21 19:08] hvermis commented on #2870
@linda33wj to help

[2019-02-22 04:26] mikakouvo commented on #2870
Solved it...PS instructions:

"SinkTableName": "@{item().TableType}"
->
"SinkTableName": "@{item().TABLE_NAME}"

[2019-02-22 16:20] awaldow commented on #4718
So just to test, I went into my node_modules and removed the '.value' part of the serializedName so it was just 'properties.document'. I was then able to get a json reconstruction of the definitions of the schema. I am wondering how to get the YAML definition in its entirety but sending Content-Type 'application/vnd.oai.openapi' doesn't seem to change anything, I always just get the definitions, b

[2019-02-25 21:59] amclin commented on #4655
This appears to be due to this project using an old version of arm-storage-manager:
https://github.com/Azure/azure-sdk-for-node/blob/master/package.json#L89

Current version is 7.0.0:
https://www.npmjs.com/package/azure-arm-storage

I can confirm that the 7.0.0 version contains the BlobServices property
![screen shot 2019-02-25 at 1 52 47 pm](https://user-images.githubusercontent.com/105728/533716

[2019-02-26 21:12] junsaw commented on #4601
Do we have any update on this feature request ?

[2019-02-27 11:59] ffclaranet opened #4769 "List all Virtual Machines limited to 50"
I' using the Azure node SDK to get all virtual machines for the subscription :
`var computeClient = new computeManagementClient.ComputeManagementClient(credentials, subscriptionId);
    var clientNetworkManagement = new NetworkManagementClient(credentials, subscriptionId);

        computeClient.virtualMachines.listAll(function (err, result) {
            returnResult(result);
        });`

But I

[2019-02-28 23:55] #4643 closed

[2019-03-05 18:04] awaldow commented on #4718
Is there a better place to raise this issue? It seems like the return content type is going to dictate whether you have this issue or not and with no mechanism to change that to get around it my project is essentially on hold.

[2019-03-05 20:29] lululeon opened #4819 "Long-running Streaming Listener stops receiving/de-queuing messages after a while"
I have a listener that follows this pattern: https://github.com/Azure/azure-sdk-for-js/blob/master/packages/%40azure/servicebus/data-plane/examples/javascript/gettingStarted/receiveMessagesStreaming.js

The `receiver.receive()` call happens in my app at startup, and it works... but after a period of time (or maybe a period of _idle_ time... not sure which), the connection to servicebus doesn't wor

[2019-03-05 22:02] ernieturner opened #4820 "`azure-keyvault` package doesn't export `KeyVaultCredentials` type"
When using `azure-keyvault`, being able to create a new instance of the `KeyVaultClient` class requires an instance of the `KeyVaultCredentials` class, as taken from [this example](https://azure.github.io/azure-sdk-for-node/azure-keyvault/latest/). However, when using TypeScript to do this, it doesn't look like the `KeyVaultCredentials` types are exported properly from that package.

[code]

In th

[2019-03-06 14:51] PaulieScanlon commented on #2098
Hi all, shame this issue is closed. I also think this would be a great idea.

I understand the concerns about varying ways of using the SDK and browser support but does / could `interactiveLogin` have a sort pre-call hook that contains the `//microsoft.com/devicelogin` url and auth code ... and if like me you want to do something with them you can but be default the cli just logs the instructions

[2019-03-08 17:50] kpajdzik commented on #4655
@amclin, I don't believe that's the issue. The version specified in package.json was used to build an Azure SDK for Node.js package which included all the SDKs at the same time. This is not released anymore.

The issue may have different root cause. I see you're using new TypeScript SDK (@azure/arm-storage) mixed with old Node.js SDK (ms-rest-azure). Please see https://github.com/Azure/azure-sdk-f

[2019-03-08 17:50] #4655 closed

[2019-03-10 22:51] avarabyeu commented on #4379
Are there any updates? Using Golang SDK, but bot channel registration fails with:
![image](https://user-images.githubusercontent.com/1565439/54092688-1d7bed00-43a0-11e9-9560-a55645adb238.png)

[2019-03-12 14:19] t-my opened #4877 "Data Lake Gen 2 support"
Good day.

What is status for supporting Data Lake gen2 in node?

Br, Tuomas

[2019-03-13 18:05] amclin commented on #4655
@kpajdzik between the NPM package entries, the readmes in the root of the various github repos, and the docs.microsoft.com, it is impossible to tell what the authoritative/recommended "latest" packages are. The example implementations in provided documentation are inconsistent.

All three ways of installing via NPM give you different implementation versions:
* azure-arm-storage
* @azure
* @azure/a

[2019-03-13 19:39] kpajdzik commented on #4655
@amclin, I understand the confusion, we're working on clarifying that but it takes some time to update all the readmes. The updated readme looks like this - https://www.npmjs.com/package/azure-arm-eventgrid - if you feel like this can be improved let me know. I'll try to update storage package as soon as possible.

I wasn't aware that "azure" package is not marked as deprecated. I will work on tha

[2019-03-21 16:45] kpajdzik opened #5010 "Update tests to support azure-arm-storage v8"
New RM Storage library has breaking changes which break data-plane KeyVault tests. Right now, the tests are locked to use version 7 from NPM but they should be updated to use local version (currently 8). Changes to revert are here - https://github.com/Azure/azure-sdk-for-node/commit/da2e04a5476011678ea2d78c999525f700fd250d#diff-bd4daa229b4c49079bd79795fa543039R25.

[2019-03-26 04:31] d-kononov opened #5050 "Unable to create k8s cluster"
[code]

Caused by this line: https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest/lib/serialization.js#L160

Regexp is not a string:
https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/containerservicesManagement/lib/models/managedClusterAgentPoolProfile.js#L153

[2019-03-28 12:57] jurajsucik commented on #2297
I'm facing the same issue with the checkpoint template from Azure Marketplace. This is the error I get after the template deployment:
"error": {
    "code": "PropertyChangeNotAllowed",
    "message": "Changing property 'customData' is not allowed.",
    "target": "customData"
  }

[2019-04-04 07:01] hpcsc opened #5055 "Azure Notification Hub: migration to FCM"
Currently our project is using Azure notification hub to send notification to android/ios apps from backend service.

Our backend service is using this `azure-sb` library. In Azure portal, we already configured notification hub Google settings to use the key from firebase

However recently we received an email from firebase, saying there are still some messages from our project sent through GCM:

[2019-04-04 17:40] edvasqueza commented on #5055
Same boat, please help

[2019-04-04 20:50] ChristopheHochP commented on #5055
We received the same message for our app. It would be great to know if we need to change anything on our server or if the notification hub will switch to FCM itself. I have to say this all look very much last minute and there is a lot of communication from the Azure team around this. I am a little disappointed.

[2019-04-05 01:58] amarzavery commented on #5055
Hi @matt-gibbs, Can you please ask someone from your team to look into this issue?

[2019-04-05 19:43] jsquire opened #5056 "[Service Bus] Internal Emulator Investigation and Prototyping"
# Summary

The Service Bus team has made an emulator available internally, with the intent of allowing local simulation of Service Bus functionality without a reliance on Azure.  While the emulator is in an early state and intended only for internal testing and is likely to have some incompatibilities, it may be something helpful for integration into our engineering system to speed nightly live te

[2019-04-08 04:45] avieru opened #5058 "need an example of syntax of a command to pass to a container when using "azure-arm-containerinstance""
Hi, just looking for some guidance on how to properly invoke a command when a container starts, when creating it via `azure-arm-containerinstance` package.

[code]

specifically this part, is this correct? Just an array of strings? Are there any good examples anywhere? (tried both google and bing)

[code]

[2019-04-08 14:46] jwargo commented on #5055
You received the message because under the covers we were still using some GCM endpoints. Those are in the process of being updated (the work may already be complete), so there is no issue going forward. We'll be publishing a note about this (hopefully) later today.

[2019-04-08 14:51] edvasqueza commented on #5055
Will we need to update azure-sb version in our projects? If so, when will the new version be released?

[2019-04-08 16:54] jwargo commented on #5055
@edvasqueza not as I understand it.

[2019-04-09 23:33] amarzavery commented on #5058
This is a service specific question. @yangl900, @samkreter, @xuto2 from the container instance service team, can you please answer the question posted by the customer?

[2019-04-16 19:04] nturinski opened #5068 "Incomplete response from provider.getAvailableStacks() call"
The response from Azure when using the sdk does not include the majorVersions array that contains all the versions and display names available for web apps.

The expected response returns when making a call to this endpoint `https://management.azure.com/providers/Microsoft.Web/availableStacks?osTypeSelected=Linux&api-version=2018-02-01`.

[2019-04-17 12:45] ledbutter commented on #1932
I was running into a very similar issue: we were trying to access a key vault via a Azure DevOps Pipelines service connection (i.e. service principal). Things we validated:
 * The app had `user_impersonate` API access to the key vault
 * The app (represented by the object ID of the associated service principal) had key Get, Create, List permissions

What finally resolved it was adding key vault ac

[2019-04-19 17:19] mjyeaney opened #5072 ""Location header is missing from long-running operation" error with overlapping calls"
Team - using  "azure-arm-containerinstance (5.4.0)" and "azure-arm-resource (7.3.0)", and noticing the following behavior:

* Make a call to ContainerInstanceManagementClient `containerGroups.beginCreateOrUpdate` to start an ACI deployment .
* When this call returns (via 201), make a call to ResourceManagementClient `updateById` to set tag values on the ACI resource (note at this point the above A

[2019-04-21 01:09] mjyeaney commented on #5072
I've created an isolated repro case of both the failing and successful cases: [https://github.com/mjyeaney/NodeJS-Azure-SDK-Issues](https://github.com/mjyeaney/NodeJS-Azure-SDK-Issues)

Let me know if there any questions - glad to help!

[2019-04-22 12:24] yaron-idan opened #5073 "Deploying an exported template fails"
I'm exporting ARM templates of our resource groups for the sake of backup.
I'm using the `azure-arm-resource` (v7.3.0) npm module, exporting the template using the `.resourceGroups.exportTemplate` method.
The JSON file created by the method seems fine, but when I try to create a new deployment using the az cli (v2.0.62) I'm getting the following error -
[code]
Any idea what could be the problem?

[2019-04-22 17:53] bora89 commented on #4585
Any news? Microsoft?

[2019-04-23 18:47] kurtzeborn commented on #5050
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-24 04:36] sidvip commented on #4585
One way is to use the rest URI related to your specific service and make a call using access token in the header. I think this may fix your concern. As credentials object has a lot of information in it like metadata which is associated with your user information when you use login methods. But when you use OAuth mechanism it is somewhat related to your specific scope which you want to use and wher

[2019-04-24 04:46] matpadikar commented on #4585
@sidvip that can always be done, but the issue here is the pre-built node packages for Azure can't be leveraged in that case.

[2019-04-24 17:59] amarzavery commented on #4585
[TokenCredentials](https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest/lib/credentials/tokenCredentials.js) in [ms-rest](https://www.npmjs.com/package/ms-rest) the base package that **ms-rest-azure** depends on can be used to create a Credential object if you already have the access token.

[2019-04-24 18:06] amarzavery commented on #5073
@yaron-idan Can you provide a sample deployment template that was exported?
@yugangw-msft - From the AZ CLI team can provide more info on the issue.

[2019-04-24 19:35] yaron-idan commented on #5073
I've worked things out with azure support.
It turns out that the object created by the exportTemplate method is storing the template under the key `template`. Seems redundant IMO but I'm guessing there were good reasons to do this.

Amyway once I've tried deploying the value of the template key instead of the entire object things worked like a charm.

[2019-04-24 19:35] #5073 closed

[2019-04-25 04:50] matpadikar commented on #4585
@amarzavery, thanks! I will look into the TokenCredentials package.

In my use case our OAuth micro-service handles the generation of access token from the auth code (From user logging for the first time where they save their authorization. They are not asked to login further and can use the saved authorization).

[2019-04-25 18:34] jontreynes commented on #2297
same

[2019-04-26 00:44] EugeneFoo commented on #4379
Same here.

Postman sample URL:

https://management.azure.com/subscriptions/[subscription-id]/resourceGroups/ChatBot/providers/Microsoft.BotService/botServices/[bot-name]/channels/FacebookChannel?api-version=2018-07-12

Result:
{
    "error": {
        "code": "InternalServerError",
        "message": "Encountered internal server error. Please try again."
    }
}

[2019-04-26 12:08] mjyeaney commented on #5072
Providing more details - would appreciate any insights as we're blocked by this issue:

Note that in failure case, we are calling the `beginCreateOrUpdate` method on the Azure Container Instance API. This returns a long-running opertion reponse (HTTP 201) with the appropriate `Azure-AsyncOperation` header set. However, in this case we're specifically *not* polling for status, and just continue on.

[2019-04-27 18:38] amarzavery commented on #4379
Thanks for raising the issue. There is a [swagger specification](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/botservice/resource-manager) for Azure Bot Service but we do not have a node or JS sdk. We will create a JS sdk for Azure Bot Service and publish one to npm in the coming week.

On a side note: We are deprecating the node sdk in favor of our new JS sdk. https://g

[2019-04-27 18:41] amarzavery commented on #4379
https://github.com/Azure/azure-sdk-for-js/issues/2538

[2019-04-27 19:08] amarzavery commented on #5056
closing this in favor of https://github.com/Azure/azure-sdk-for-js/issues/2539, the new repo where the service bus sdk lives https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus

[2019-04-27 19:08] #5056 closed

[2019-04-27 19:16] amarzavery commented on #5068
@nturinski - Can you provide the response received from the sdk and the response received via making the REST request to get a clear picture of the difference?

[2019-04-27 19:21] amarzavery commented on #4819
closing in favor of https://github.com/Azure/azure-sdk-for-js/issues/2540

[2019-04-27 19:21] #4819 closed

[2019-04-27 19:27] amarzavery commented on #4660
@MLoughry - Please try out the new servicebus sdk `npm i @azure/service-bus`. The sdk has been moved to https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus . The specific example of receiving messages from a DeadLetter Queue can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/processMe

[2019-04-27 19:28] #4660 closed

[2019-04-27 19:36] amarzavery commented on #4509
@MeiyappanKannappa - Please use the new service bus package `npm i @azure/service-bus`.
The sample to send a message to a topc can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/topicFilters.ts#L69).

Source code for the new servicebus sdk can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/

[2019-04-27 19:36] #4509 closed

[2019-04-27 19:41] amarzavery commented on #4536
@SibinSivanand - The node sdk is not designed to be used for browser. I would recommend using the new key vault sdk that should work in node.js (Server side) and the browser as well.

Take a look at the sample [here](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault/keyvault#browser---authentication-client-creation-and-getkey--as-an-example-written-in-javascript)

[2019-04-27 19:47] amarzavery commented on #4551
Thanks for reporting the issue. We will be deprecating the current node sdk in favor of the new JS sdk that can work in the browser and also on the server side (node.js). You can find the new sdk over [here](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/timeseriesinsights/arm-timeseriesinsights).

In the new sdk, we are not taking a dependency on moment. The sdk will return the duratio

[2019-04-27 19:47] #4551 closed

[2019-04-27 19:51] amarzavery commented on #4601
Yes. We have a new sdk "npm i @azure/service-bus" that solves this issue. The new sdk is in the new repo over [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus).

You can find a sample that solves the reported issue over [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/gettingStarted/receiveMessagesStre

[2019-04-27 19:51] #4601 closed

[2019-04-27 19:53] amarzavery commented on #4718
@solankisamir  from the api management team can help you in this issue.

[2019-04-27 20:01] amarzavery commented on #4769
I am sorry for the confusion. The name of the method is indeed confusing. The result will have a property called nextLink. Please provide that to

[code]

[2019-04-27 20:10] amarzavery commented on #4820
@schaabs  - Can you take a look at this issue?

[2019-04-27 20:16] amarzavery commented on #3126
Please try the new sdk `npm i @azure/service-bus`.

An example can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/gettingStarted/sendMessages.ts).

In the future, file new Service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js

[2019-04-27 20:16] #3126 closed

[2019-04-27 20:18] amarzavery commented on #3131
@vIceBerg - Please try the new sdk `npm i @azure/service-bus`. Source code and samples for the new sdk can be found here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus

In the future, file new Service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js

[2019-04-27 20:22] amarzavery commented on #3114
Hi @ggb88 , @TacticalSlothmaster - Please use the new service bus sdk `npm i @Azure/service-bus`.

You can find a sample that solves the reported issue over [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/gettingStarted/receiveMessagesStreaming.ts).

In the future, please file service bus issues in the new repo: https://github.com/Azure/az

[2019-04-27 20:22] #3114 closed

[2019-04-27 20:25] amarzavery commented on #3113
@yuhaii - Please use the new service bus sdk `npm i @Azure/service-bus`.

You can find the source code and samples over [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus).

In the future, please file service bus issues in the new repo: https://github.com/Azure/azure-sdk-for-js

[2019-04-27 20:25] #3113 closed

[2019-04-27 20:26] #3056 closed

[2019-04-27 20:29] amarzavery commented on #3146
@vIceBerg - Please take a look at the sample over here
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/topicFilters.ts#L85

Try using the new service bus sdk `npm i @azure/service-bus`.

In the future file servicebus related issues over here https://github.com/Azure/azure-sdk-for-js

[2019-04-27 20:29] #3146 closed

[2019-04-27 20:31] amarzavery commented on #3286
hi @shiwaniB , @TacticalSlothmaster - Please use the new service bus sdk `npm i @azure/service-bus`.
A sample that solves the reported problem can be found here
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/topicFilters.ts#L85

File service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js.

[2019-04-27 20:31] #3286 closed

[2019-04-27 20:33] amarzavery commented on #2946
Hi @StefanoPastore Please use the new service bus sdk `npm i @azure/service-bus`.
The source code and samples for the new sdk can be found here
https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus

File service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js.

[2019-04-27 20:33] #2946 closed

[2019-04-27 23:08] #2398 closed

[2019-04-27 23:22] amarzavery commented on #1633
Please try out the new servicebus sdk `npm i @azure/service-bus`. The sdk has been moved to https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus . The specific example of receiving messages from a DeadLetter Queue can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/processMessageFromDLQ

[2019-04-27 23:22] #1633 closed

[2019-04-27 23:23] amarzavery commented on #1961
Please try out the new servicebus sdk `npm i @azure/service-bus`. The sdk has been moved to https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus .

The new sdk does solve this issue.

In future please open service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js

[2019-04-27 23:23] #1961 closed

[2019-04-27 23:26] amarzavery commented on #1754
Please try out the new servicebus sdk `npm i @azure/service-bus`.

The sample to send a message to a topic can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/topicFilters.ts#L69).

Source code for the new servicebus sdk can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/servi

[2019-04-27 23:26] #1754 closed

[2019-04-27 23:27] amarzavery commented on #2418
Please try out the new servicebus sdk `npm i @azure/service-bus`.

The sample to send a message to a topic can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/topicFilters.ts#L69).

Source code for the new servicebus sdk can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/servi

[2019-04-27 23:27] #2418 closed

[2019-04-27 23:30] amarzavery commented on #2251
Please try out the new servicebus sdk `npm i @azure/service-bus`.

Source code for the new servicebus sdk can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus).

 A [sample to send a message to ServiceBus Queue](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/gettingStarted/sendMessages.ts) uses SAS

[2019-04-27 23:30] #2251 closed

[2019-04-27 23:32] amarzavery commented on #2019
@camous - Please try out the new servicebus sdk `npm i @azure/service-bus`. The sdk has been moved to https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus . The specific example of receiving messages from a DeadLetter Queue can be found [here](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/processMess

[2019-04-27 23:32] #2019 closed

[2019-04-27 23:33] amarzavery commented on #2099
Please try out the new servicebus sdk `npm i @azure/service-bus`. The sdk has been moved to https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus . It is developed in TypeScript and contains accurate type definitions.

In future please open service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js

[2019-04-27 23:33] #2099 closed

[2019-04-27 23:35] amarzavery commented on #2135
The new service bus sdk `npm i @azure/service-bus` solves this issue. The source code can be found here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus

the sample can be found here: https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/advancedFeatures/sessionState.ts

[2019-04-27 23:35] #2135 closed

[2019-04-27 23:39] amarzavery commented on #2184
Please try the new sdk `npm i @azure/service-bus`.

Source code for new sdk can be found here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus

Sample for receiving a batch of messages can be found here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/gettingStarted/receiveMessagesLoop.ts#L26

Moving forward please

[2019-04-27 23:39] #2184 closed

[2019-04-27 23:43] amarzavery commented on #2377
@DanielDziubecki  Please try the new sdk `npm i @azure/service-bus`.

Sample for the above mentioned usecase can be found here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/gettingStarted/receiveMessagesStreaming.ts#L33

Please file service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js

[2019-04-27 23:43] #2377 closed

[2019-04-27 23:44] amarzavery commented on #2415
@ArturPrzybysz , @tony-gutierrez -
Please try the new sdk `npm i @azure/service-bus`.

Sample for the above mentioned usecase can be found here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/servicebus/service-bus/samples/typescript/gettingStarted/receiveMessagesStreaming.ts#L33

Please file service bus related issues in the new repo https://github.com/Azure/azure-sdk-for-js

[2019-04-27 23:44] #2415 closed

[2019-04-27 23:48] amarzavery commented on #1631
Please take a look at the new isomorphic sdks over here https://github.com/Azure/azure-sdk-for-js/blob/master/sdk. The sdks can run in the browser and also on the server side (node.js).

All the new sdks are published to npm under the `@azure/<sdk-name>` org structure.

[2019-04-27 23:48] #1631 closed

[2019-04-27 23:49] amarzavery commented on #2172
Please take a look at the new isomorphic sdks over here https://github.com/Azure/azure-sdk-for-js The sdks can run in the browser and also on the server side (node.js).

All the new sdks are published to npm under the @azure/<sdk-name> org structure.

[2019-04-27 23:49] #2172 closed

[2019-04-27 23:50] amarzavery commented on #1789
This stuff is too old and is not supported in Azure anymore

[2019-04-27 23:50] #1789 closed

[2019-04-27 23:51] #2025 closed

[2019-04-27 23:51] #2078 closed

[2019-04-27 23:52] #2394 closed

[2019-04-27 23:52] #2227 closed

[2019-04-27 23:53] #2325 closed

[2019-04-27 23:53] #2413 closed

[2019-04-27 23:54] #2301 closed

[2019-04-27 23:54] #2305 closed

[2019-04-27 23:55] #2543 closed

[2019-04-27 23:56] #2529 closed

[2019-04-27 23:56] #2527 closed

[2019-04-27 23:56] #2459 closed

[2019-04-27 23:57] #2424 closed

[2019-04-27 23:57] #2425 closed

[2019-04-27 23:58] #2210 closed

[2019-04-28 00:00] #3353 closed

[2019-04-29 20:55] nturinski commented on #5068
@amarzavery Thanks for your reply.  Sure thing!

This is from the sdk using `provider.getAvailableStacks()`

![image](https://user-images.githubusercontent.com/5290572/56926249-1ca13680-6a86-11e9-9fa8-2e7d3959f0d3.png)

This is by using the REST API after parsing the JSON string

![image](https://user-images.githubusercontent.com/5290572/56926295-4c503e80-6a86-11e9-9689-c00b0e354f20.png)

[2019-04-29 22:15] solankisamir commented on #4718
yes.. this is an issue in the Contract. The schema document should just be `properties.document`

We also support Wsdl (SOAP) based APIs. For those apis the schema document is accessible at `properties.document.value`

[2019-05-01 17:10] solankisamir commented on #4718
@awaldow we are working on fixing it, give it a week to reach to all clients.

[2019-05-01 21:13] tony-gutierrez commented on #2415
@amarzavery Does this also cover notification hub?

[2019-05-01 21:19] tony-gutierrez commented on #2415
The sdk reference doesnt seem to be updated? https://docs.microsoft.com/en-us/javascript/api/azure-sb

[2019-05-02 00:26] amarzavery commented on #2415
The API docs still need to be updated as we are in the process of creating the API docs for the new sdk. Nope it does not cover notification hubs yet. We have new sdks for EventHubs and ServiceBus.
/cc @ramya-rao-a

[2019-05-02 17:37] awaldow commented on #4718
Thanks guys, this will help me a ton

[2019-05-02 19:24] solankisamir commented on #4718
Try this package https://www.npmjs.com/package/azure-arm-apimanagement/v/5.1.0

The `properties.Document` is now a JObject and you should be able to retrieve it.
https://docs.microsoft.com/en-us/rest/api/apimanagement/apischema/createorupdate#schemacontract

[2019-05-02 19:25] #4718 closed

[2019-05-02 23:03] amarzavery commented on #4379
@fmaker @avarabyeu @EugeneFoo

New package [@azure/arm-botservice](https://www.npmjs.com/package/@azure/arm-botservice) has been published to npm.
[code]

Please feel free to file issues in the new repo https://github.com/azure/azure-sdk-for-js

[2019-05-02 23:03] #4379 closed

[2019-05-03 11:33] EugeneFoo commented on #4379
Thanks @amarzavery

[2019-05-07 21:20] jimthematrix commented on #4603
any update? I'm getting the same error.

- in key vault, added a key using EC and curve SECP256K1
- calling the `sign` endpoint with a curl request like this:
[code]

and got:
[code]

[2019-05-08 00:42] schaabs commented on #4603
@mralbertchen @jimthematrix  Thanks for reporting this issue.  SECP256K1 was a curve name we had originally used while EC keys were in preview, and we renamed the curve to P-256K.  You are right that these two are just different names for the same curve, and the service should allow the call.

@msfcolombo Could you please take a look at this error.

[2019-05-08 01:05] msfcolombo commented on #4603
Keys created with the preview curve name `SECP256K1` can only be signed with the preview algorithm name, which happens to be `ECDSA256` (not `ES256K`). It's just a name change. Internally they do the exact same thing.

Therefore, you have two possible fixes:
* Recreate or reimport the key, this time using the supported curve name `P-256K`, and keep using the `ES256K` algorithm; or
* Change the alg

[2019-05-08 17:21] jacob-ebey commented on #2284
Bump for more info or an more exhaustive example of the current loginWithAuthFile.

[2019-05-08 17:24] jacob-ebey commented on #2284
Being able to do something similar to .net core would be further the developer experience by leaps and bounds:
[code]

[2019-05-08 18:08] amarzavery commented on #2284
@schaabs - Please take a look at this issue.

[2019-05-08 18:56] jacob-ebey commented on #2284
Note that the above C# example works both locally when you login with "az login" (as long as you're in a group authorized with the keyvault) as well as with the MSI for a hosted service.

[2019-05-08 20:55] jimthematrix commented on #4603
I got it working using `ECDSA256` as the algo name, in the place of `ES256K`. Just FYI.

[2019-05-09 06:39] zommarin commented on #2284
My understanding is that the Python, Go and C# SDKs all support using the credentials of `az login`, it is just the Node.js SDK that lacks this. This makes it hard to create Node.js based scripts that works in all kinds of authentication scenarios.

[2019-05-09 17:53] amarzavery commented on #2284
Hello,

Thank you for the feedback. We will make the necessary improvements to provide the same experience as python, go and c# sdks.

Today you can use something from ms-rest-azure that is close enough.
Create an sp and save it to a json file as shown below.
[code]
If you have already created the service principal and are logged in as that service principal then
[code]
Then use this method [msRes

[2019-05-09 23:01] kurtzeborn commented on #5072
Thanks for opening this issue.  Sorry for the delayed response.  We're working on routing it to the proper folks.

[2019-05-10 18:08] jacob-ebey commented on #2284
Is there somewhere we can track the development progress of this feature?

[2019-05-10 18:23] amarzavery commented on #2284
@jacob-ebey - This work item has been approved. I shall be working on it right away. Looking at the way this has been implemented in other sdks. Have created a github issue in the azure-sdk-for-js repo
https://github.com/Azure/azure-sdk-for-js/issues/2810 for tracking purpose.

If everything goes well, I should have a PR for review in a week.

[2019-05-10 18:27] jacob-ebey commented on #2284
Thanks @amarzavery, I look forward to the PR

[2019-05-17 22:23] vagostep commented on #4820
Same issue here.

[2019-05-19 19:52] jacob-ebey commented on #2284
@amarzavery, I'm having trouble authenticating with a keyvault using the new API. I believe I am just misunderstanding the usage so I don't want to open a new issue.

I currently have the following:
[code]

Suggestions?

[2019-05-20 07:36] amarzavery commented on #2284
@jacob-ebey - Thanks for reporting this. I have added the capability to change the resource for the desired token. By default the resource(a.k.a tokenAudience) is the Azure Resource Manager.

Please take a look at the sample in this commit https://github.com/Azure/ms-rest-nodeauth/pull/59/commits/85be925f6b5af2780d169d6bfdb49124631d5682#diff-d6fec9ce87ef4907eb76d6586982a6e6R8.

Feel free to try it

[2019-05-20 15:13] amarzavery commented on #4820
Thanks for pointing this out. We need to update the README.md and the samples as well.

1. `KeyVaultCredentials` is present inside `ms-rest-azure`, since that is where other credentials are present. Thus `import { KeyVaultCredentials } from "ms-rest-azure"` should work fine.

2. We have made it simpler for you to authenticate. You don't need to worry about challenge callback. We take care of it in

[2019-05-20 16:28] #4820 closed

[2019-05-20 18:16] #2284 closed

[2019-05-20 19:20] jacob-ebey commented on #2284
Thanks @amarzavery, worked like a charm.

[2019-05-28 23:15] yugangw-msft commented on #3082
@t-my, you looked at MS Graph, while `azure-graph` uses AAD  Graph. I suggest you check out the filter [syntax](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-supported-queries-filters-and-paging-options#CommonQueries) and use those. Azure CLI uses the [filter](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-role/azure/cli/comma

[2019-05-29 05:18] t-my commented on #3082
I did solve the problem couple months ago. I’ll try to explain the fix here that others can see it.

[2019-05-29 05:18] #3082 closed

[2019-06-12 21:21] mozehgir commented on #4603
Looks like the issue has been fixed as the above user got it working. If the error persists feel free to re-open this issue in the [azure-sdk-for-js repository](https://github.com/Azure/azure-sdk-for-js).

[2019-06-12 21:21] #4603 closed

[2019-06-12 21:21] #3131 closed

[2019-06-12 21:23] mozehgir commented on #2870
Looks like the issue has been fixed as the above user got it working. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:23] #2870 closed

[2019-06-12 21:25] mozehgir commented on #2674
This repository is being deprecated. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:25] #2674 closed

[2019-06-12 21:27] mozehgir commented on #2655
Looks like the issue has been fixed as per the above comment. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:27] #2655 closed

[2019-06-12 21:29] mozehgir commented on #2460
Looks like the issue has been addressed as per the above comment. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:29] #2460 closed

[2019-06-12 21:31] mozehgir commented on #2384
Looks like the issue has been fixed as the above user got it working. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:31] #2384 closed

[2019-06-12 21:34] mozehgir commented on #2313
Looks like the issue has been addressed as per the comment above. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:34] #2313 closed

[2019-06-12 21:37] mozehgir commented on #2024
Please try the new SDK by installing `@azure/service-bus` from npm. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:37] #2024 closed

[2019-06-12 21:37] mozehgir commented on #2016
Please try the new SDK by installing @azure/service-bus from npm. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:37] #2016 closed

[2019-06-12 21:37] mozehgir commented on #2000
Please try the new SDK by installing @azure/service-bus from npm. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:37] #2000 closed

[2019-06-12 21:38] mozehgir commented on #1747
Please try the new SDK by installing @azure/service-bus from npm. If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:38] #1747 closed

[2019-06-12 21:38] mozehgir commented on #1682
If the error persists feel free to re-open this issue in the https://github.com/Azure/azure-sdk-for-js repository .

[2019-06-12 21:38] #1682 closed

[2019-06-13 06:13] NoelAbrahams commented on #1747
Really impressed by the prompt attention.

[2019-06-25 14:58] amallecourt opened #5086 "Serializing payload for Face.identify() in azure-cognitiveservices-face - Error "mapper.constraints[constraintType].split is not a function""
I encountered an error while using the nodejs sdk for Face in Azure's Cognitive Services.
More precisely, it happen when using the function **face.identify()** :
`identify(faceIds: string[], options?: Object)`

The sdk version I use is :
`"azure-cognitiveservices-face": "^3.0.0"`

It returns me :
`Error: Error "mapper.constraints[constraintType].split is not a function" occurred in serializing the

[2019-06-25 16:25] amallecourt commented on #5086
When going deeper into the problem, it seems to find it's origin between the identifyRequest class defined in identifyRequest.js of the azure-cognitiveservices-face package, and, the serialization.js file of the node module **ms-res**.

The error is :
`TypeError: mapper.constraints[constraintType].split is not a function` at node_modules/ms-rest/lib/serialization.js:160:60
So what seems to occur i

[2019-06-25 16:29] amallecourt commented on #5086
For exemple, you could change the value :
`/^[a-z0-9-_]+$/`
with :
`'^[a-z0-9-_]+$'`

It worked !

[2019-06-26 07:16] amallecourt commented on #5086
Fixed in v2.5.1 of **ms-rest** : https://www.npmjs.com/package/ms-rest/v/2.5.1
Look at #5087

Now need to change dependencies value in package.json of ms-rest :
from `^2.5.0` to `^2.5.1`

[2019-06-27 02:30] amarzavery commented on #5086
@amallecourt - [npm follows semantic versioning](https://docs.npmjs.com/about-semantic-versioning#using-semantic-versioning-to-specify-update-types-your-package-can-accept). Since this is a patch version update you should be able to install the latest version without any changes to the package.json. Make sure to delete the node_modules folder and package-lock.json before installing everything agai

[2019-06-27 02:31] #5086 closed

[2019-06-27 12:52] the1bit opened #5089 "(azure-arm-website) - Exception: TypeError: Cannot read property 'getSites' of undefined"
Hi,

I am writing because I would like to create a JS Azure function but I am struggling due to an issue.
I use your example code from [Github](https://github.com/Azure/azure-sdk-for-node/blob/master/examples/ARM/webapp/webapp-sample.js):

[code]

Error message is the following:

[code]

My development environment related information:

- OS: Windows 10
- IDE: Visual Studio Code 1.35.1
- NodeJS ver

[2019-06-28 08:08] the1bit commented on #5089
I have solved the issue which is a lack of documentation from your site. :-(

You had replaced the sites to webApps

[2019-06-28 13:07] the1bit commented on #5089
I solved the issue. You can find the solution in my previous comment.

[2019-06-28 13:07] #5089 closed

[2019-07-02 21:58] maggiepint opened #5091 "Test Issue"
issue that tests robots

[2019-07-02 22:05] maggiepint opened #5092 "Fake comupte issues"
fake fake fake

[2019-07-02 22:50] maggiepint opened #5093 "Fake issue"
fake fake fake

[2019-07-03 00:07] amarzavery commented on #5072
I think the issue was resolved by moving to the new JS sdk.

[2019-07-03 00:07] #5072 closed

[2019-07-03 01:50] mjyeaney commented on #5072
For those cases that can move, yes. However we have many production scenarios that cannot move immediately. Is there any solution for this, or are concurrent/overlapping operations simply not supported?

[2019-07-03 09:46] fbsanchez commented on #4769
When `const result = await computeClient.virtualMachines.listAll();
`

`(node:7279) UnhandledPromiseRejectionWarning: Error: callback cannot be null.
`

[2019-07-03 17:55] #5092 closed

[2019-07-06 17:41] #4769 closed

[2019-07-06 17:50] amarzavery commented on #1931
Closing this since we are moving to new JS repo (https://github.com/azure/azure-sdk-for-js) whichwill have isomorphic JS packages and better API documentation.

[2019-07-06 17:50] #1931 closed

[2019-07-06 17:51] amarzavery commented on #2070
Closing this in favor of the new isomorphic JS sdks

[2019-07-06 17:51] #2070 closed

[2019-07-06 17:51] amarzavery commented on #2199
closing this in favor of the new isomorphic JS sdks

[2019-07-06 17:51] #2199 closed

[2019-07-06 17:52] #2318 closed

[2019-07-06 17:53] #3618 closed

[2019-07-06 17:54] #3363 closed

[2019-07-06 17:54] #3980 closed

[2019-07-06 17:54] #4035 closed

[2019-07-06 17:54] #4231 closed

[2019-07-06 17:55] #4054 closed

[2019-07-06 17:55] #4044 closed

[2019-07-06 17:56] #2726 closed

[2019-07-06 17:57] amarzavery commented on #3101
fixed in @azure/ms-rest-nodeauth

[2019-07-06 17:57] #3101 closed

[2019-07-06 17:57] #3916 closed

[2019-07-06 17:59] amarzavery commented on #1622
closing this in favor of the new JS sdks in https://github.com/azure/azure-sdk-for-js

[2019-07-06 17:59] #1622 closed

[2019-07-08 14:25] Jegannathan commented on #4496
Is this issue fixed ?

[2019-07-09 01:33] sushilraje opened #5095 "Kusto SDK expects 202 for long running update cluster 'patch' operations, but gets 201."
The update cluster operation in Kusto SDK fails with foll. error. Unexpected polling status code from long-running operation "201" for method "PATCH". The update is used to scale up the cluster vertically, by updating Azure Sku. The update fails as SDK client expects response code other than 201 for its long-running PATCH operation.

[2019-07-09 17:11] amarzavery commented on #5095
@sushilraje - Please use the new version of the kusto sdk `@azure/arm-kusto` instead of the current `azure-arm-kusto`.

[2019-07-09 17:44] amarzavery commented on #4453
The issue has been fixed in `@azure/arm-event-hub`

[2019-07-09 17:44] #4453 closed

[2019-07-09 17:47] amarzavery commented on #4514
Please use the new https://www.npmjs.com/package/@azure/arm-subscriptions

[2019-07-09 17:47] #4514 closed

[2019-07-09 17:53] amarzavery commented on #4418
There is no plan to support AAD V2 endpoint with the current node sdk. If this will happen, it will happen for the new sdks published under the @azure scope. These sdks are found in https://github.com/azure/azure-sdk-for-js. There is a new [identity package](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/identity/identity) that is being developed as one stop shop for all Azure related a

[2019-07-09 17:57] amarzavery commented on #2877
/cc @ramya-rao-a What is the guidance for `azure-sb` package?

[2019-07-09 18:00] amarzavery commented on #4178
Please use the new package https://www.npmjs.com/package/@azure/arm-apimanagement. This repository will be deprecated soon in favor of https://github.com/azure/azure-sdk-for-js

[2019-07-09 18:00] #4178 closed

[2019-07-09 18:01] #2163 closed

[2019-07-09 18:02] #2414 closed

[2019-07-09 18:03] #2948 closed

[2019-07-09 18:04] amarzavery commented on #2297
This is a service issue and has nothing to do with the sdk.

[2019-07-09 18:04] #2297 closed

[2019-07-09 18:05] amarzavery commented on #2850
It is not recommended to use the rollup `azure` package. Please use packages for individual services.

[2019-07-09 18:05] #2850 closed

[2019-07-09 18:06] amarzavery commented on #2339
Please use the new `@azure/arm-iothub` package and the new resource manger packages `@azure/arm-resources`

[2019-07-09 18:06] #2339 closed

[2019-07-09 18:08] amarzavery commented on #4186
You can create role assignments to azure resources using https://www.npmjs.com/package/@azure/arm-authorization

[2019-07-09 18:08] #4186 closed

[2019-07-09 18:09] #4585 closed

[2019-07-09 18:10] amarzavery commented on #4376
Since new package is being developed in azure-sdk-for-js, I think this issue can be closed.

[2019-07-09 18:10] #4376 closed

[2019-07-09 18:12] amarzavery commented on #4542
This is an issue with the underlying https://www.npmjs.com/package/adal-node package. Multiple issues have been filed with some workarounds over here https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/search?q=ws-trust&type=Issues

[2019-07-09 18:12] #4542 closed

[2019-07-10 08:33] jeffrey008 opened #5096 "Needs an example for options.filter with UTC time value"
I am using `azure-arm-consumption` and came across this file for detailed usage: [file](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/consumptionManagement/lib/operations/usageDetails.js)

What format should I put into `properties/usageStart` and `properties/usageEnd`?
I tried this format but it doesn't work.
` filter: "properties/resourceGroup eq 'myGroup' and properties/us

[2019-07-10 16:15] amarzavery commented on #5096
@kjeur @panda-wang @shbha  - Can  you please provide an example of how to provide the value for filter query parameter?

[2019-07-10 17:34] #2494 closed

[2019-07-10 17:39] amarzavery commented on #2380
Closing this in favor of the new packages being created for key vault control and data plane https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault

[2019-07-10 17:39] #2380 closed

[2019-07-10 17:48] amarzavery commented on #2291
@ramya-rao-a - Closing this issue for now. The documentation for the package has been restored at http://azure.github.io/azure-sdk-for-node/azure-sb/latest/

Whenever you decide to re-implement the CRUD on ATOM based service bus HTTP APIs, you can make sure that the documentation for thew package is up to date.

[2019-07-10 17:48] #2291 closed

[2019-07-10 17:50] amarzavery commented on #2174
Won't fix

[2019-07-10 17:50] #2174 closed

[2019-07-10 17:51] #2133 closed

[2019-07-10 17:51] #2060 closed

[2019-07-10 17:53] #2046 closed

[2019-07-10 17:54] #2026 closed

[2019-07-10 17:54] #1812 closed

[2019-07-10 18:00] amarzavery commented on #3871
@ramya-rao-a - This will be fixed easily when the team decides to reimplement this package with a dependency on the new runtime.

[2019-07-10 18:01] #3856 closed

[2019-07-10 18:02] amarzavery commented on #3645
@MikhailTryakhov - Can you take a look at this issue?

[2019-07-10 18:03] #3619 closed

[2019-07-10 18:05] #3418 closed

[2019-07-10 18:07] amarzavery commented on #3374
@ramya-rao-a - One more issue that will be fixed automatically when there is a new SB SDK for ATOM based HTTP APIs

[2019-07-10 18:07] #3361 closed

[2019-07-10 18:07] #3359 closed

[2019-07-10 18:08] #3341 closed

[2019-07-10 18:08] #3257 closed

[2019-07-10 18:08] #3216 closed

[2019-07-10 18:09] #3215 closed

[2019-07-10 18:09] #3182 closed

[2019-07-10 18:10] #3170 closed

[2019-07-10 18:10] #2852 closed

[2019-07-10 18:11] #2942 closed

[2019-07-10 18:11] #3017 closed

[2019-07-10 18:11] #3050 closed

[2019-07-10 18:12] #3162 closed

[2019-07-10 18:12] #3169 closed

[2019-07-10 18:14] #5095 closed

[2019-07-10 18:15] amarzavery commented on #5068
Please use the new `@azure/arm-appservice` package.

[2019-07-10 18:15] #5068 closed

[2019-07-10 18:16] #5010 closed

[2019-07-10 18:19] #4684 closed

[2019-07-10 18:20] amarzavery commented on #4649
You are mixing two packages. You need to use `@azure/ms-rest-nodeauth` with `@azure/arm-storage`

[2019-07-10 18:20] #4649 closed

[2019-07-10 18:22] #4562 closed

[2019-07-10 18:22] #4554 closed

[2019-07-10 18:23] #4536 closed

[2019-07-10 18:24] #4489 closed

[2019-07-10 18:24] #4438 closed

[2019-07-10 18:24] #4420 closed

[2019-07-10 18:24] #4402 closed

[2019-07-10 18:24] #4388 closed

[2019-07-10 18:25] amarzavery commented on #4388
Please try the new package `@azure/arm-containerservice`

[2019-07-10 18:25] #4177 closed

[2019-07-10 18:26] amarzavery commented on #4176
@MikhailTryakhov - Please  take a look at this issue.

[2019-07-10 18:26] #4036 closed

[2019-07-10 20:28] MikhailTryakhov commented on #4176
@number213  @EvgenyAgafonchikov  please review

[2019-07-10 20:28] MikhailTryakhov commented on #3645
@number213  @EvgenyAgafonchikov  please review

[2019-07-10 22:31] amarzavery commented on #2390
This should now be fixed. The SDK will not send the default value of a property while sending the request. https://github.com/Azure/azure-sdk-for-node/pull/5097

[2019-07-10 22:31] #2390 closed

[2019-07-10 22:34] hirochachacha commented on #3359
I don't think this is solved.
https://github.com/tc39/proposal-regexp-unicode-property-escapes was merged.
Things are getting better, but `\w` still doesn't match any unicode characters.
[code]

It still needs some tweaks that replace shorthand character classes by corresponding unicode-aware regex patterns.
https://unicode.org/reports/tr18/#Compatibility_Properties

[2019-07-11 01:22] ramya-rao-a commented on #3871
@amarzavery How will the new runtime help here? And which new runtime are you referring to?

[2019-07-11 01:25] ramya-rao-a commented on #2877
We will have to investigate this one, the problem might be in the API or the way we pass the `EnablePartitioning` flag

[2019-07-11 01:32] ramya-rao-a commented on #3374
So is the problem that the retry policy never stops retrying or that it doesnt surface the errors once it stops retrying?

[2019-07-11 02:50] amarzavery commented on #3871
@ruhkopf - Please try the new https://www.npmjs.com/package/@azure/service-bus package that is implemented using the AMQP protocol for sending/receiving messages to/from the queue.

@ramya-rao-a - Sorry for the confusion.

The `azure-sb` package depends on the super old runtime `azure-common` (written ~6 years ago) which uses the `request` library underneath and has it's own retry policies. When t

[2019-07-11 02:50] #3871 closed

[2019-07-11 02:55] amarzavery commented on #3533
Please try the new @azure/ms-rest-nodeauth package.

[2019-07-11 02:55] #3533 closed

[2019-07-11 03:04] amarzavery commented on #3374
I think the retry filter should give all the errors as seen in the source code over [here](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/common/lib/services/filters/exponentialretrypolicyfilter.js#L106).

It retries upto 3 times with max retry interval set to 90 seconds.
Guess: May be the operation timeout implemented by the customer happens sooner than that and he never sees those e

[2019-07-11 03:09] tony-gutierrez commented on #3374
It's been a while since I reported this, but I had logging despite the
timeout, and was never able to see the errors. My thought was that they
were being swallowed entirely.

On Wed, Jul 10, 2019, 11:07 PM Amar Zavery <notifications@github.com> wrote:

[2019-07-11 08:22] number213 commented on #4176
[This PR](https://github.com/Azure/azure-sdk-for-node/pull/4002) updated a lot of things, including parameters for checkIPAddressAvailability. It should be called this way (also you don't need to stringify err):

[code]

[2019-07-11 11:56] number213 commented on #3645
I guess you could get peering's data and take a look at property `remoteAddressSpace`

[code]

[2019-07-11 16:33] #2457 closed

[2019-07-11 16:44] #2298 closed

[2019-07-11 17:07] amarzavery commented on #5098
@rkmanda  - Can you please take a look at this issue?

[2019-07-11 17:10] #4706 closed

[2019-07-11 17:30] amarzavery commented on #4176
Closing this for now. Feel free to create an issue in https://github.com/azure/azure-sdk-for-js repo and use the new `@azure/arm-network` package.

[2019-07-11 17:31] #4176 closed

[2019-07-11 17:31] amarzavery commented on #3645
Closing this for now. Feel free to create an issue in https://github.com/azure/azure-sdk-for-js repo and use the new `@azure/arm-network` package.

[2019-07-11 17:31] #3645 closed

[2019-07-12 17:21] maggiepint opened #5102 "Fake Issue"
Pre-labeled fake issue

[2019-07-15 14:59] jbonet07 commented on #2395
using **azure-keyvault@3.0.4** and **ms-rest-azure@3.0.0**

Hi, I tried to use MSI to access Key Vault following the [https://github.com/Azure-Samples/app-service-msi-keyvault-node](https://github.com/Azure-Samples/app-service-msi-keyvault-node) example, but when I pass the credentials that I get from loginWithAppServiceMSI to the KeyVaultClient I keep getting this error (the credentials object th

[2019-07-15 15:26] amarzavery commented on #2395
Can you execute `npm list ms-rest`?
I am guessing there are multiple versions of ms-rest. Hence the instanceof check is failing

[2019-07-15 15:30] jbonet07 commented on #2395
Yes, it looks like I have several versions of ms-rest. So ms-rest is also a azure-keyvault dependency?

![image](https://user-images.githubusercontent.com/36271817/61228165-01110800-a726-11e9-89f7-16bfc2c5d8a6.png)

[2019-07-15 16:03] amarzavery commented on #2395
- `ms-rest` is the runtime package that is responsible for making requests on the wire.
- `ms-rest-azure` is the runtime for Azure specific stuff (authentication, polling asynchronous operations, etc.)
- `azure-keyvault` depends on `ms-rest-azure` which depends on `ms-rest`.
As you can see `azure-keyvault@3.0.4` brings with it `ms-rest-azure@2.6.0` which brings with it `ms-rest@2.5.3`.
So what is

[2019-07-16 06:50] ajithpoison commented on #4496
@MiyoAlpizar This issue has been fixed. Please refer #5103
@amarzavery Can you please close this.

[2019-07-16 06:54] #4496 closed

[2019-07-16 09:54] silviopaganini opened #5105 "lodash Vulnerability"
## Expected Behavior

`yarn audit` shouldn't return any audit problems

## Actual Behavior

`yarn audit` returns High vulnerability
More info
https://www.npmjs.com/advisories/1065

## Possible Solution

Upgrade lodash

## Steps to Reproduce

1. yarn audit / npm audit

## Context

Currently breaks CI as we rely on audits

## Environment

-   **Node Version**: v10.14.1
-   **Package Manager Version*

[2019-07-17 01:40] amarzavery commented on #5105
@silviopaganini - Which package are you using?

[2019-07-17 04:20] silviopaganini commented on #5105
Key vault

On Wed, 17 Jul 2019 at 02:43, Amar Zavery <notifications@github.com> wrote:

--
sent.from.mobile -- @silviopaganini +44 753 4915 733

[2019-07-23 03:54] vIceBerg opened #5106 "Error: 401 - ExpiredToken: The token is expired on Daylight Saving Time Change"
Hi!

As you know, we changed the time from Daylight Saving to Normal Time in North America.

As soon as the hour passed from 1:59 to 1:00, Azure Service Bus gave me the message "Error: 401 - ExpiredToken: The token is expired"

Even if I killed my app and restart it, I got the same error.

When my computer time reached 2:00, then I was back to normal...

Should'nt Service Bus be aware of time chan

[2019-07-23 03:58] ramya-rao-a commented on #5106
@amarzavery This looks like the issue with how expiry dates are dealt with inside of azure-common.
If we expect the same to happen in the new service bus library, then moving it to the new repo makes sense, else this is a bug fix needed in azure-common. Am I missing something?

[2019-07-23 04:31] amarzavery commented on #5106
I feel this seems to be a service side issue and not an issue with the client. If this is a client side issue then I would recommend to ensure that this doesn't happen in the new library that is developed for http based atom apis

[2019-07-23 05:46] ramya-rao-a commented on #5106
Fair point, will transfer back and loop in the service team. Thanks!

[2019-07-30 04:34] kalyanb9119 opened #5107 "Application Insights Continuous Export configuration intermittently throwing 'Unauthorized'"
We are using “azure-arm-appinsights:2.1.0” for setting up continuous export config of App Insights.
We do this configuration setup After ARM template deployment via node CLI – as part of the deployment we generate the Service SAS for the storage account.

We are seeing this issue intermittently (at least once every day) and our node-cli based deployment failing because of this error. Can you pleas

[2019-07-31 13:45] zbitname opened #5108 "Broken package (azure-arm-datalake-store)"
https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/datalake.Store/package.json
Main file is `./lib/dataLakeStore.js` from `package.json`.
And this file is not exists (https://github.com/Azure/azure-sdk-for-node/tree/master/lib/services/datalake.Store/lib).
Consequently I see error `Error: Cannot find module 'azure-arm-datalake-store'` while trying to use this package.

[2019-08-08 07:09] marty2bell opened #5111 "Support Authentication via Pod Identity"
Are there any plans to add support for authentication using pod identity / managed Identities to the node SDK?

It looks like it's supported in the GO SDK and would be consistent with the use of other features like flex volumes to have a common authentication scheme for pods and avoid service principal credentials having to be managed within the clusters?

[2019-08-08 07:16] michaeljqzq commented on #5111
Hi @marty2bell , node sdk is going to be deprecated. All the new features will go to https://github.com/Azure/azure-sdk-for-js

[2019-08-08 07:20] marty2bell commented on #5111
OK, thanks for the head up!

[2019-08-09 02:44] #5111 closed

[2019-08-12 19:10] workfigure opened #5112 "Error: credentials must be one of: ApplicationTokenCredentials, UserTokenCredentials, DeviceTokenCredentials, MSITokenCredentials"
I am following this [sample code](https://github.com/Azure-Samples/key-vault-node-quickstart) to get secret key from the azure key-vault using Azure function but I am getting this error message.
The msRestAzure.loginWithAppServiceMSI return value of type MSIAppServiceTokenCredentials and when it call client.getSecret(vaultUri, secretName, secretVersion), I am getting the error message.
Node module

[2019-08-13 02:40] michaeljqzq commented on #5112
@workfigure Could you try using the following dependency? `"ms-rest-azure": "^2.6.0"`

[2019-08-13 17:36] workfigure commented on #5112
@michaeljqzq thanks for the respond and it did not fix it.

[2019-08-13 19:45] workfigure commented on #5112
I found out temporary solution.
The problem is that
at line 54-68 of file /node_modules/azure-keyvault/node_modules/ms-rest-azure/lib/credentials/keyVaultCredentials.js, there is type comparison and it is the one causing the error. The object I am getting from the call msRestAzure.loginWithAppServiceMSI is MSIAppServiceTokenCredentials and I created this object by require('ms-rest-azure') but the

[2019-08-14 11:41] robwadsworth1992 commented on #5112
I am also facing this issue.
My current solution works only because a single version of ms-rest-azure is installed within my project. If ms-rest-azure is included as a child package of both azure-keyvault and _my-other-installed-package_ then creating the credentials within my-other-installed-package will not create a object of they type expected within azure-keyvault.

[2019-08-14 13:15] ned1313 commented on #5112
Also facing this issue on App Service deployment.  Resulting error in console logging:

`(node:3544) UnhandledPromiseRejectionWarning: Error: credentials must be one of: ApplicationTokenCredentials, UserTokenCredentials, DeviceTokenCredentials, MSITokenCredentials
    at KeyVaultCredentials.authenticator (D:\home\site\wwwroot\node_modules\azure-keyvault\node_modules\ms-rest-azure\lib\credentials\k

[2019-08-15 04:36] michaeljqzq commented on #5112
@workfigure, @robwadsworth1992 , @ned1313 Actually for the keyvault service, the node SDK is going to be deprecated and won't have new feature and releases. Instead, the new versions are released here: https://www.npmjs.com/package/@azure/keyvault-secrets https://www.npmjs.com/package/@azure/keyvault-keys . You can have a try with the new SDK. And feel free to give feedback if that won't work or h

[2019-08-15 20:56] workfigure commented on #5112
@michaeljqzq Thanks for the update. I will try it.

[2019-08-19 19:43] #5093 closed

[2019-08-19 22:48] workfigure commented on #5112
@michaeljqzq, @robwadsworth1992 , @ned1313  Tried the module @azure/keyvault-secrets and it works as expected. Thanks again!

[2019-08-20 07:03] #5112 closed

[2019-08-21 03:18] michaeljqzq commented on #5108
@zbitname Could you try the latest version of the package https://www.npmjs.com/package/azure-arm-datalake-store ?

[2019-08-21 03:22] michaeljqzq commented on #5105
@silviopaganini  I tried the azure-keyvault@3.0.5 and here is the result
[code]

The version after 4.17.12 should have fixed the problem

[2019-08-21 03:22] #5102 closed

[2019-08-21 20:26] maggiepint commented on #5091
@Azure/aks-pm

[2019-08-21 21:18] #5091 closed

[2019-08-26 22:30] saikrishnav opened #5117 "Azure Function: Credentials not working in keyVault class"
I am writing an AzureFunction where the function has access to key vault. In the function, I am trying to retrieve the secrets from the keyvault.

While doing that, I am getting below error:
`Exception: Error: credentials must be one of: ApplicationTokenCredentials, UserTokenCredentials, DeviceTokenCredentials, MSITokenCredentials
Stack: Error: credentials must be one of: ApplicationTokenCredentia

[2019-08-27 05:40] michaeljqzq commented on #5117
Actually for the keyvault service, the node SDK is going to be deprecated and won't have new feature and releases. Instead, the new versions are released here: https://www.npmjs.com/package/@azure/keyvault-secrets https://www.npmjs.com/package/@azure/keyvault-keys . You can have a try with the new SDK. And feel free to give feedback if that won't work or have further issues.

[2019-08-27 05:44] #5117 closed, assigned to nobody

[2019-08-28 16:10] steveland83 opened #5118 "receiveSubscriptionMessage returns misleading "No messages to receive" message for innaccessible subscriptions"
When attempting to pull messages from a topic subscription using the method `receiveSubscriptionMessage` *which exists but is inaccessible for the current connection*, the SDK returns the misleading message: `No messages to receive`

I realise that this is very clearly a usage error, but its also an easy mistake to make.

The developer experience would be improved if an appropriate error message w

[2019-08-30 06:45] #5108 closed

[2019-08-30 06:46] #2877 closed

[2019-08-30 06:46] #3374 closed

[2019-08-30 06:46] #4491 closed

[2019-08-30 06:46] #5096 closed

[2019-08-30 06:46] #5098 closed

[2019-09-02 06:00] #5105 closed

[2019-09-02 08:52] avi2183 opened #5119 "Is moving data from elasticsearch to azure data ware house possible?"
Is moving data from elasticsearch to azure data ware house possible? if yes, how?

Thanks

[2019-09-03 20:07] maggiepint commented on #5102
Thanks for the feedback! We are routing this to the appropriate team for follow-up. cc @Azure/aks-pm

[2019-09-03 20:09] cliffkoh commented on #5102
Test @Azure/aks-pm

[2019-09-09 07:50] durgadp opened #5120 "I have a user object id how I can able to get the particular role assign to the user."
I have a user object id how I can able to get the particular role assign to the user. I have just your library function in node modules there is not function created to access this data but you appRoles model can you please let me know how I can able to access the roles of the user using approles models.  I just google for this issue this API will provide us role for that user
GET    https://graph

[2019-09-10 03:16] michaeljqzq commented on #5120
Please provide following information
* the package name you use
* the version
* the sample code

[2019-09-11 08:05] michaeljqzq commented on #5119
Please ask related Azure Service Support for your issue. Close this one.

[2019-09-11 08:05] #5119 closed

[2019-09-11 08:07] michaeljqzq commented on #5118
Hi @steveland83 Which service and what version of package do you use?

[2019-09-11 08:56] steveland83 commented on #5118
Hi @michaeljqzq - sorry, I've edited my post to include more information.

[2019-09-11 12:52] durgadp commented on #5120
Please provide the following information

Package Name: azure-graph
Version  "azure-graph": "^4.3.0",
`
[code]

[2019-09-12 03:35] michaeljqzq commented on #5120
For the SDK, you can get following properties in user object:

id | The unique identifier for the user.
businessPhones | The user's phone numbers.
displayName | The name displayed in the address book for the user.
givenName | The first name of the user.
jobTitle | The user's job title.
mail | The user's email address.
mobilePhone | The user's cellphone number.
officeLocation | The user's physical

[2019-09-12 04:35] durgadp commented on #5120
For appRoleAssignments is there any pipeline set by you. So we can able to access the role of particular user or meanwhile time if any another way to get this guide me and send the link of documentation so I will able to implement it for now.

[2019-09-12 05:16] michaeljqzq commented on #5120
Is there an API to fetch the RoleAssignment ?

[2019-09-12 05:18] michaeljqzq commented on #5118
I think this package belongs to azure-sdk-for-js. It is different from azure-sdk-for-node. Can you open a new issue there?

[2019-09-13 19:15] petercooperjr-spls commented on #5105
Is azure-keyvault@3.0.5 published?

The current version listed at https://www.npmjs.com/package/azure-keyvault is 3.0.4, and that's the latest I can find.

[2019-09-15 21:42] Haga14 opened #5121 "Accessing Azure Media Services V3 API with Nodejs, "Could not determine tenant error""
I'm connecting to AZ MS V3 API with Nodejs following the instructions found here:
https://docs.microsoft.com/en-us/azure/media-services/latest/configure-connect-nodejs-howto

Below is my code:

[code]
When I run this code, I get the following error:

[code]

[2019-09-16 06:49] michaeljqzq commented on #5121
Could you provide the version of the package `azure-arm-mediaservices` ?

[2019-09-16 07:05] michaeljqzq commented on #5105
@petercooperjr-spls Sorry due to some issues in CI, 3.0.5 publish failed. We just fixed this and published 3.0.5, please check.

[2019-09-16 12:33] petercooperjr-spls commented on #5105
Yes, it looks published now. Thank you!

[2019-09-18 02:31] Haga14 commented on #5121
@michaeljqzq Below is my package json

[code]

[2019-09-18 06:36] michaeljqzq commented on #5121
Hi @Haga14 , the node library is going to be deprecated. You can try the [JS SDK](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/mediaservices/arm-mediaservices) and give furthur feedback

[2019-09-20 01:10] Haga14 commented on #5121
@michaeljqzq I've seen that, but there's no media services specific documentation for that SDK,  more accurately, I haven't found anything

[2019-09-23 06:58] durgadp commented on #5120
Please check https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

[2019-09-23 07:22] ruowan commented on #5121
Hi @Haga14 https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/mediaservices/arm-mediaservices. This doc may help you.

[2019-09-23 13:44] durgadp opened #5122 "Job info parameter in user model"
I need a job title and the department under job information. I checked your model file where i can see these fields in it.

[2019-09-24 03:04] ruowan commented on #5122
Please provide the following information

+ the package name you use
+ the version
+ the sample code

[2019-09-24 03:19] durgadp commented on #5122
Please provide the following information

Package Name: azure-graph
Version "azure-graph": "^4.3.0",
`

 msRestAzure.loginWithUsernamePassword(data.email, data.password, { tokenAudience: 'graph', domain: tenantId }, async (err, credentials, subscriptions) => {
                if (err){
                    //console.log(err);
                    send_data = { status : false, message : "Invalid user

[2019-09-25 06:44] ruowan commented on #5122
Hi, @durgadp The node SDK library is going to be deprecated. You can try to use this new one https://www.npmjs.com/package/@azure/graph which directly returns HTTP response. It may work well for you.

[2019-09-26 19:51] sugarjig commented on #5107
I came upon this issue after seeing the same issue in a PowerShell script, using the `Get-AzApplicationInsightsContinuousExport` cmdlet. The failure is apparently random. Most of the time it succeeds. If it is at all helpful, here is the stack trace
[code]

[2019-10-11 19:07] kevinprow opened #5125 "."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version Info (please complete the fo

[2019-10-11 19:11] maggiepint commented on #5125
I moved this issue! Yay!

[2019-10-11 19:36] #5125 closed

[2019-10-12 03:46] wiazur opened #5126 "Computer Vision SDK - Person Group Create fail"
I was debugging code to get a person group, but when I try to create one, it crashed on the create() function. With debugging I found that the endpoint sent in the request body was not for a person group but for a person group person. Not sure how that is possible, but somehow or another, it was mixing up the endpoints.

[code]

I debugged further and saw in the `node_modules\@azure\cognitiveservi

[2019-10-18 02:39] qiaozha commented on #5126
@wiazur  Could please share with me which package and version you are using? Thanks

[2019-10-21 15:27] sprour commented on #5112
I had the same issue. So, first remove package-lock.json and node_modules. Then install again with "ms-rest-azure": "^2.6.0"

[2019-10-22 11:21] elweilando opened #5127 "Websocket from containerExecResponse accepts only 50 chars"
We trying to build an azure container instance automation. We can create and start a new container with http://azure.github.io/azure-sdk-for-node/azure-arm-containerinstance/latest/ContainerGroups.html#createOrUpdateWithHttpOperationResponse and we can start powershell with executeCommandWithHttpOperationResponse from https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/containerin

[2019-10-24 03:34] qiaozha commented on #5127
@elweilando hi, do you mean that the powershell cut off the command you typed? or the interface has a limitation of the parameters that you passed? Also, what the version of powershell as well as the node package?

[2019-11-08 19:40] elweilando commented on #5127
@qiaozha I can send thru the websocket a command to the powershell within the docker container which I started with executeCommandWithHttpOperationResponse.
If i send a command thru websocket, I can send only commands up to 50 chars.
I think the websocket interface which is provided from azure has this limitation.
You can reproduce this also in the ACI console interface in the azure portal. Try to

[2019-11-12 11:42] Rayzworld commented on #2399
I had similar result like tomalex0.I want to get keys to used on jwt.sign().How do i work it out?Thanks.

[2019-11-12 17:31] ernieturner opened #5128 "Types for `KeyVaultCredentials` class can be improved"
When trying to consume the `KeyVaultCredentials` class from within the `azure-keyvault` dependency in a TypeScript project, I noticed that the types for this classes constructor are pretty weak and could be greatly improved. The current types are

[code]

From using the code, my `challenge` argument is of the shape `{authorization: string; resource: string}`. I don't know if there are other shapes

[2019-11-12 20:32] rfink commented on #2284
Hello,

I'm hoping someone can help me, as I am very lost. I found this issue while trying to figure out how to authenticate for using KeyVault and BlobStorage. Previously, I've worked with the .NET library which transparently allows CLI authentication locally, and MSI authentication when deployed. It seems like that's desired behavior per the issue, but I can't seem to find documentation on how t

[2019-11-13 01:49] Rayzworld opened #5129 "How can i download the pem file from the result of function getKey()"
I have uploaded a private pem file to keys and tried function client.getKey() to get the data

result
{ key:
    {
	 kid: 'https://test.vault.azure.net/keys/test/1123123123lksldkf',
     kty: 'RSA',
     keyOps: [ 'sign', 'verify', 'wrapKey', 'unwrapKey', 'encrypt', 'decrypt' ],
     n: <Buffer  ... >,
     e: <Buffer >
	},
	attributes: { enabled: true,
     created: 2016-02-09T08:48:27.000Z,

[2019-11-13 03:29] #5129 closed

[2019-11-15 00:41] erick-thompson opened #5130 "How to use Azure Key Vault from npmjs.com doesn't work"
I am attempting to use Azure Key Vault from typescript/node. The npmjs.com page (https://www.npmjs.com/package/azure-keyvault) has:

[code]
This code shows the browser devicelogin code. When I login with the device code and attempt to perform any actions with the client, the following error is thrown.

message:"credentials must be one of: ApplicationTokenCredentials, UserTokenCredentials, DeviceTo

[2019-11-15 00:49] erick-thompson commented on #5130
I was able to get it to work by uninstalling the ms-rest-azure npm package. The repetition of these credentials classes is very confusing.

[2019-11-21 15:15] JTInfinite opened #5132 "TypeError: Cannot read property 'split' of undefined"
Similar issue here: https://github.com/Azure/App-Service-Migration-Assistant/issues/15#issue-511627486

In my node project I simply:

`import azure from  'azure-storage'`

and my app now fails to load. I get the following error:

![image](https://user-images.githubusercontent.com/16175334/69349883-765e8d80-0c70-11ea-92ac-fae7ef885023.png)

I had this working a few days ago. It could well be me but

[2019-11-22 11:25] qiaozha commented on #5130
@erick-thompson  you may try @azure/arm-keyvault,  it's from https://github.com/Azure/azure-sdk-for-js.  it use @azure/ms-rest-nodeauth to do the login. The node SDK is  being deprecated.

[2019-11-23 03:24] qiaozha commented on #5127
@elweilando  Hi, sorry for the delay reply. the package azure-arm-containerinstance is being deprecated. you may try to use the package  @azure/arm-containerinstance  to see if the problem still exists.

[2019-11-23 04:48] qiaozha commented on #5128
@ernieturner  Thanks for your advice. In fact, we are now moving to azure-sdk-for-js repo. this one is currently being deprecated and you may refer to the folder sdk/keyvault of azure-sdk-for-js repo.  Also, I take a look at the Authenticator type. it's still taking the object challenge as its parameter. but I have a second thought probably they consider for compatibility. if a previous object typ

[2019-11-23 06:27] qiaozha commented on #5132
@JTInfinite Hi May I know how you use the azure-storage in your app so that I can reproduce this bug and find out where the problem is?
Also, we are deprecating this repo. You may use @azure/arm-storage instead of azure-storage.if you are trying to manage your Azure resource,
 depending on how you use azure-storage. please refer to https://github.com/Azure/azure-sdk-for-js repo folder sdk/storage

[2019-11-24 12:45] JTInfinite commented on #5132
@qiaozha  Hi, I am getting the error in the browser. To be honest, I think it is something I am doing wrong as I have the exact same module imported fine in another project. I think I am just going to move all my azure resource interaction server side.

Thanks anyway

[2019-11-24 12:45] #5132 closed

[2019-11-25 18:17] ernieturner commented on #5128
If there's a need to support previous types that are a string, that can also be done by just doing something like `challenge: {authorization: string; resource: string} | string` to signify that it can support two different types. However, since the current types specify that it has to be an `object` I think you've already broken the old version compatibility of it being a string so it might not ma

[2019-11-27 16:39] elweilando commented on #5127
@qiaozha I changed the package but I receive now this issue
[code]

[2019-11-28 01:49] qiaozha commented on #5127
@elweilando I install the package and found at line 1750 it uses this.client.sendLRORequest. my version is 5.4.0. Can you double check the package you installed and share with me your version if problem still exists?

[2019-11-28 13:38] elweilando commented on #5127
Sorry. There was a typo. The issue is

[code]

I can't find in this package a function named sendLRORequest.

[2019-11-29 05:43] qiaozha commented on #5127
Can you show me you code of how you use it? I am using it like this client.containerGroups.createOrUpdate(resourceGroupName, containarGroupName, containerGroup) it works fine.

[2019-11-29 07:24] kamesh95 opened #5134 "Issue in Event Grid Subscription creation (endpointUrl property missing in the destination model)"
According to the REST API docs for creating or updating event subscriptions, the request body should have endpointUrl in the destination object. [Link to Docs](https://docs.microsoft.com/en-us/rest/api/eventgrid/eventsubscriptions/createorupdate#eventsubscriptions_createorupdateforresource)
When I try to create a event subscription without that, it gives me an error that properties cannot be null

[2019-11-29 22:43] elweilando commented on #5127
[code]

[2019-12-01 05:40] qiaozha commented on #5134
@kamesh95  Thank you for the question. as you can see from eventSubscriptionDestination definition there is a polymorphic mechanism. And as you can see from the document, the endpointType is WebHook. which means it actually will use an object of class WebHookEventSubscriptionDestination as the parameter. Here the endpointUrl is defined in WebHookEventSubscriptionDestination class which extends Eve

[2019-12-02 06:13] kamesh95 commented on #5134
@qiaozha Thanks for the quick reply. That does make sense, I modified my event Subscription Info object accordingly and it works now. Thank you very much :)

[2019-12-02 06:13] #5134 closed

[2019-12-02 06:17] qiaozha commented on #5134
Glad it solves your problem. Also we are deprecated this repo with https://github.com/Azure/azure-sdk-for-js  you may try @azure/arm-eventgrid as well.

[2019-12-02 08:02] qiaozha commented on #5127
I create the client like this way in typescript.
 `import { ContainerInstanceManagementClient } from '@azure/arm-containerinstance
  let client = new ContainerInstanceManagementClient(creds, subscriptionId);
`
I compared the js code generated by tsc,
the difference is the way you create a client. you may use `let client = new armACI.ContainerInstanceManagementClient(creds, subscriptionId); `  to s

[2019-12-02 10:45] elweilando commented on #5127
Thank you. Can you please provide me an example of documentation for a login with Service Principal and secret?
Actually I don't know to login with client Id, secret and domain.

[2019-12-02 12:26] qiaozha commented on #5127
you may refer to this document  https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Node.jsAuth.md#service-principal-authentication

[2019-12-03 06:14] elweilando commented on #5127
I used this example before (please see line 3 in my code example above). I updated now the node-package ' ms-rest-azure' to the latest version. But now I receive this error. This error raises in

`msRestAzure.loginWithServicePrincipalSecret(clientId, secret, domain).then((creds) => {`

[code]

[2019-12-03 10:44] qiaozha commented on #5127
Seems the examples are wrong, You can try this way
`const { loginWithServicePrincipalSecret } = require("@azure/ms-rest-nodeauth");
 loginWithServicePrincipalSecret(clientId, secret, domain).then((creds) => {
 });
`

[2019-12-03 14:56] elweilando commented on #5127
Thank you very much. This works now with the new package.
But it remains sadly the same limitation of 50 chars.

[2019-12-04 10:55] qiaozha commented on #5127
@elweilando which operation are you trying with JS sdk ? because I can't find executeCommandWithHttpOperationResponse in JS sdk now. Also, Could you please open another issue in this https://github.com/Azure/azure-sdk-for-js repo and provide what package versions you are currently using and what kind of resources is related. So that it can route to related teams when necessary.
But I think this is

[2019-12-04 11:00] qiaozha commented on #5128
Thanks for your advice. but I think that's actually a new feature requirement. we probably need to get relavant team involved in this issue.
cc @RodgeFu  for awareness.

[2019-12-04 20:33] elweilando commented on #5127
I use this package: @azure/arm-containerinstance
maybe there was a missunderstanding. I don't use executeCommandWithHttpOperationResponse anymore. I use know the corresponding function from the @azure/arm-containerinstance package.

[code]
then I connect to the websocket.
I think also, that the issue comes from the PowerShell web gui. I'dont know if this has a relation to this issue, but If you ar

[2019-12-05 11:05] qiaozha commented on #5127
Hi, Did you start PowerShell web-gui from https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart-powershell?view=azps-3.1.0#code-try-0 here?
Also, I am quite confused how do you run js code in powershell? What exactly the `a websocket uri and a password` looks like ? Is it the container resource?

[2019-12-05 16:43] elweilando commented on #5127
I'dont run js code in powershell. In my example I send

[code]
to the container instance and I receive a ContainerExecResponse.
https://github.com/Azure/azure-sdk-for-js/blob/3402edc5e3d78f6590c81ed3f821ecc7fcc6a868/sdk/containerinstance/arm-containerinstance/src/models/mappers.ts#L1370

Then I can connect to this websocket and I can execute powershell commands thru this websocket on the container

[2019-12-06 08:15] qiaozha commented on #5127
Hi, Now I've created the container and get the webSocketUri and password, but how to connect to the container with web-gui by using webSocketUri and password?

[2019-12-06 15:11] elweilando commented on #5127
I connect with a websocket-client

[code]

[2019-12-07 02:57] wiazur commented on #5126
Sorry @qiaozha, I just got your response. I believe the issue was resolved, not entirely sure how but the sample now works. Thanks.

[2019-12-07 02:57] #5126 closed

[2019-12-07 10:41] qiaozha commented on #5127
Did you mean you are using this websocket-client package? but the WebSocketUri that executeCommand returned starts with "wss://" and seems this package doesn't support wss? You can refer to line 473  to 489 of lib/websocket.js in this package. Also, this package doesn't have WebSocketClient? Shouldn't the last line of ws.connect in your code be put at the top of the other operations?
I tried other

[2019-12-07 13:31] elweilando commented on #5127
I use this package: https://www.npmjs.com/package/websocket
`var WebSocketClient = require('websocket').client;`

I define first the events that I want to listen to. After that I connect to the wss://. On connect I send first the password and then the commands.

My procedure based on this blog entry https://blog.mastykarz.nl/office-365-cloud-shell/

[2019-12-08 02:41] qiaozha commented on #5127
It seems that the messages I received from the server are cut into smaller pieces

![image](https://user-images.githubusercontent.com/55688292/70383344-3d7c2380-19a7-11ea-8aba-40fc1d44c1e3.png)

[2019-12-09 11:52] elweilando commented on #5127
Yes. That's what I mean.

[2019-12-10 03:16] qiaozha commented on #5127
I've submitted a issue in the JS repo and add tags of related service to follow up.

[2019-12-10 06:18] elweilando commented on #5127
Thank you very much!

[2020-01-03 15:56] avoidwork commented on #5130
@qiaozha what's it being replaced with? this isn't communicated on the README nor in npm via a deprecation warning; i ran into this error while developing a new feature based on this SDK...

[2020-01-04 01:25] qiaozha commented on #5130
@avoidwork  I think it depends on how you use it. if you use it to manage your key vault resource you can replace it with `@azure/arm-keyvault` the detail is in here https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/keyvault.
But just for this error. I think you may try to downgrade the credential related package version. Can you provide me with what packages and which version you're using

[2020-01-23 15:35] mustafababil opened #5137 "Event Grid - No failure case when publishing events"
Hi,

I am using nodejs library for Event Grid (azure-eventgrid).

If I provide wrong values for Topic Endpoint or Access Key parts, publishing events doesn't fail as expected. It doesn't output anything for neither `then` or `catch` part.

I am using this in a **Azure Functions** component.

[code]

How can I fetch failure cases?

[2020-01-24 00:12] kaosaxis opened #5138 "Typo in KeyVaultCredentials"
Not sure if this is the place to log this, you have sooooooo many repositories and it seems they often change at any given moment. So I'll leave it with this repo's team to sort out :D

**Library in question:**
ms-rest-azure
[code]

**Specific File with potential issue:**
Repository > File with issue > Function in question
ms-rest-azure > index.d.ts > KeyVaultCredentials

**Code block:**
Issue Coo

[2020-01-24 00:28] kaosaxis commented on #5138
Currently present here: https://github.com/Azure/azure-sdk-for-node/blob/9992fa1b709d4f694aff0e865d4a782e6ae74f9c/runtime/ms-rest-azure/index.d.ts

[2020-01-24 02:15] kaosaxis commented on #5138
I just noticed the announcement for the new SDK.
I'll migrate to the newer SDK at
https://github.com/Azure/azure-sdk-for-js

May want to have a bot reply to issues recommending the new SDK.

[2020-01-28 09:46] sauravmndl opened #5139 "Azure Consumption Usage List"
Hi,
I was using this sdk to use [consumption usage list api](https://docs.microsoft.com/en-gb/rest/api/consumption/usagedetails/list). Can you please help me in understanding [filter](https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/consumptionManagement/lib/operations/usageDetails.js#L28) parma values.

I have a sample code as follows

`
const msRestAzure = require("ms-rest-az

[2020-02-04 09:31] qiaozha commented on #5137
@ramya-rao-a  Is it an issue for data-plane?

[2020-02-04 09:35] qiaozha commented on #5139
@sauravmndl  Could you try `@azure/arm-consumption` this package from https://github.com/Azure/azure-sdk-for-js/ this repo to see the problem still exists? this azure-sdk-for-node repo is planing to be deprecated.

[2020-02-04 09:37] qiaozha commented on #5138
Thanks for your advice. This deprecation is currently in planing stage. We will take your advice when we start the process.

[2020-02-09 14:58] sauravmndl commented on #5139
Hi @qiaozha ,

Thank you for your reply. Using the other library, result is same.

1. I want to see the example how to filter using **usageStart**   and **usageEnd**.
2. Also I want data hourly basis.

Below filter doesn't work.

` 'usageStart eq \'2020-02-02T00:00:00.000Z\' and usageEnd eq \'2020-02-03T00:00:00.000Z\'`

Could you please mention the document where the sample is given. I couldn't f

[2020-02-09 15:39] qiaozha commented on #5139
How about try this way `"filter": "usageDate ge '2020-02-02' AND usageDate le '2020-02-03'"`. Sorry, The document is a little missing right now and we are working on this.  but I think for your problem the filter column should be usageDate?
You may also find the original example here https://github.com/Azure/azure-rest-api-specs/tree/master/specification/consumption/resource-manager/Microsoft.Cons

[2020-02-09 19:12] sauravmndl commented on #5139
Thanks for  replying @qiaozha . It's working. I wanted usage details hourly basis. But getting 'daily' basis.

Req:

`client.usageDetails.list({expand: 'meterDetails', filter:'tags eq \'xxx:yyy\'  AND properties/usageStart ge \'2020-02-08T00:00:00.000Z\' AND properties/usageEnd le \'2020-02-08T01:00:00.000Z\''`

Response:

{
...
usageStart: 2020-02-08T00:00:00.000Z,
usageEnd: 2020-02-08T23:59:59.0

[2020-02-10 02:23] qiaozha commented on #5139
Thanks for the report. I've submitted this issue https://github.com/Azure/azure-sdk-for-js/issues/7303 to track this and get service team involved.

[2020-02-11 03:21] ramya-rao-a commented on #5137
Yes, thanks @qiaozha

@chradek Can you take a look at this?

[2020-02-11 04:27] chradek commented on #5137
@mustafababil
Sorry for the delayed response.
Can you share what the timeout for your Azure Function is? I ran a similar sample locally and noticed that with invalid parameters I get an ECONNREFUSED error when attempting to connect to the service. The library will attempt to retry up to 3 times with exponential backoff. I noticed the 1st retry took about 30 seconds, then 2nd took about 90 seconds,

[2020-02-12 15:56] mustafababil commented on #5137
@chradek Thank you for your response.

Function Timeout is set to 5-minute. I turned off the retries as defined, and tested the following sample snippet on both local and cloud. Unfortunately, it didn't work. It looks like execution of functions stops immediately.

[code]

Console output from cloud instance:
[code]

[2020-02-12 16:37] chradek commented on #5137
@mustafababil
I believe the issue is because you're calling `context.done()` at the bottom of your function outside of your `publishEvents` call. Since `publishEvents` is non-blocking, execution will continue to the end of your function before your `then` or `catch` handlers are invoked.

Since you're already using an `async` function, you can use `await` with publishEvents instead to get the affe

[2020-02-13 10:07] mustafababil commented on #5137
Thank you @chradek. Now I got what I expect. Thanks for your time.
@ramya-rao-a I am closing the issue as @chradek helped me a lot.

[2020-02-13 10:07] #5137 closed

[2020-02-25 01:13] nickzhums commented on #5138
@kaosaxis thanks for your suggestion! if you have more feedback or issues, you can create an issue on https://github.com/Azure/azure-sdk-for-js

[2020-02-26 17:20] ramya-rao-a commented on #5107
cc @qiaozha

[2020-02-26 17:29] ramya-rao-a commented on #5121
@ruowan, @michaeljqzq, @qiaozha Can we have this issue closed?

[2020-02-26 17:31] ramya-rao-a commented on #5121
@Haga14 Please try out the new [@azure/arm-mediaservices](https://www.npmjs.com/package/@azure/arm-mediaservices). If you see any issues with the newer package, please log an issue at https://github.com/azure/azure-sdk-for-js

[2020-02-26 17:31] #5121 closed

[2020-02-26 17:38] ramya-rao-a commented on #5128
The `azure-keyvault` package is deprecated in favor of individual packages for keys, secrets and certificates. Please use the newer @azure/keyvault-keys, @azure/keyvault-secrets or @azure/keyvault-certificates and log an issues you see at https://github.com/azure/azure-sdk-for-js

The new packages were written following the [new guidelines for Azure SDKs](https://azure.github.io/azure-sdk/typescri

[2020-02-26 17:38] #5128 closed

[2020-02-26 17:39] ramya-rao-a commented on #5128
cc @sadasant in case any follow up is needed here

[2020-02-26 17:40] ramya-rao-a commented on #5130
The `azure-keyvault` package is deprecated in favor of individual packages for keys, secrets and certificates. Please use the newer @azure/keyvault-keys, @azure/keyvault-secrets or @azure/keyvault-certificates and log an issues you see at https://github.com/azure/azure-sdk-for-js

The new packages were written following the [new guidelines for Azure SDKs](https://azure.github.io/azure-sdk/typescri

[2020-02-26 17:40] #5130 closed

[2020-03-15 17:50] frabbidgdean opened #5142 "Uncaught Exception at: undefined error: TypeError: Cannot read property '_process' of undefined"
Our project is using Azure service-bus and it is running into this uncaught exception which we have not faced before:

msg: Uncaught Exception at: undefined
error: TypeError: Cannot read property '_process' of undefined
at Connection._process (/app/node_modules/rhea/lib/connection.js:687:39)
at process._tickCallback (internal/process/next_tick.js:61:11)

Node version: v10.16.3
rhea version: 1.0.12

[2020-03-17 03:03] ramya-rao-a commented on #5138
@qiaozha, @nickzhums The source code for the `addChallengeToCache()` method is using the right spelling. See https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest-azure/lib/credentials/keyVaultCredentials.js#L183

The issue is in the typing file index.d.t.s file only which can be fixed by hand. The typing file is used by editors to provide intellisense and other features.

I woul

[2020-03-17 03:38] ramya-rao-a commented on #5139
@qiaozha Based on https://github.com/Azure/azure-sdk-for-js/issues/7303#issuecomment-585904515, this feature is not supported by the service currently and is in their backlog. Once they do support it, they will need to update their apis and the packages will have to be re-generated.

Given that new features will only be added to the newer `@azure/arm-consumption`, can we close this issue and keep

[2020-03-17 04:11] ramya-rao-a commented on #2284
@rfink,

The old Keyvault library `azure-keyvault` is indeed deprecated.
The newer Keyvault and Storage libraries require you to use the credential objects from the `@azure/identity` library which doesn't support CLI auth like you learnt.

But, we have recently shipped a preview for `@azure/identity` where CLI auth is indeed supported.

@jonathandturner, Please correct me if I got the above wrong,

[2020-03-17 04:13] ramya-rao-a commented on #2399
The `azure-keyvault` package is deprecated in favor of individual packages for keys, secrets and certificates. Please use the newer @azure/keyvault-keys, @azure/keyvault-secrets or @azure/keyvault-certificates and log any issues you see at https://github.com/azure/azure-sdk-for-js

The new packages were written following the [new guidelines for Azure SDKs](https://azure.github.io/azure-sdk/typescr

[2020-03-17 04:15] ramya-rao-a commented on #5142
@frabbidgdean Can you share the name of the package you are using to communicate with Service Bus?

[2020-03-17 20:58] sadasant commented on #2399
Hello everybody!

I am not sure if I'm understanding things correctly.

Using the new client, let's say we create a KeyVault key, with something like the following:

[code]

[2020-03-17 21:06] sadasant commented on #2399
Hello everybody!

I am not sure if I'm understanding things correctly.

Using the new client, let's say we create a KeyVault key, with something like the following:

[code]

Using the same credentials, and the just created key, we can use the cryptography client to sign and verify some data, as follows:

[code]

I'll make another comment regarding PEM files.

[2020-03-17 21:16] sadasant commented on #2399
For certificates we have the [`@azure/keyvault-certificates`](https://www.npmjs.com/package/@azure/keyvault-certificates) package now. It will let you create, import and use certificates in various ways. I will provide some useful links:

- [The keyvault-certificate's readme](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/keyvault/keyvault-certificates/README.md), of course.
  Keep in m

[2020-03-19 23:22] jonathandturner commented on #2284
We have new support in preview as part of the `@azure/identity` npm package: https://www.npmjs.com/package/@azure/identity/v/1.1.0-preview1

When you use the DefaultAzureCredential in this preview, it will pick up the credential from Azure CLI and login automatically.  You shouldn't need to do anything extra, just run `az login`, login as you normally would, and then run the samples using that pre

[2020-03-20 00:11] evanfrawley opened #5144 "[BUG] Container Instance instanceView is undefined"
**Description**
When getting a list of `containerGroups` and their `containers`, the `instanceView` value on both of them are `undefined` (and `null` using the CLI)

Code Snippet
[code]

Output:

[code]

CLI Output:
[code]

However, they appear in the `beginCreateOrUpdate` function (see the very end of the block):
[code]

[2020-03-20 13:02] aflinchb commented on #2284
@jonathandturner with the preview, is is possible to set it up so that it can *only* use Azure CLI credentials? i.e. if you use DefaultAzureCredentials and have *not* ran az login configure it so it will fail and not fall back on environment variables?

[2020-03-20 15:27] qiaozha commented on #5144
@evanfrawley Thanks for reporting this.
@nickzhums  It looks like a bug from the service because both CLI and node SDK didn't return the instanceview in the list result. Can you help to find someone from the service team to check on that?

[2020-03-22 18:51] jonathandturner commented on #2284
@aflinchb - not yet, but we're currently looking into extending DefaultAzureCredentials so that it can be configured to do things like that.

[2020-03-25 07:05] Richienb opened #5146 "request is deprecated"
See https://github.com/microsoft/appcenter-cli/issues/761

[2020-03-30 05:56] forsen opened #5147 "release new version of ms-rest"
Please release a new version of `ms-rest`. The current version includes a malformed json file which breaks flow on our CI.

The current version on NPM: 2.5.3 released "9 months ago"
Fix for the json file: October 2019 (~ 4 months ago)

The file with error: https://github.com/Azure/azure-sdk-for-node/blob/bffb85b3faac7ff0a2074ab8abb17f67e5eb46b9/runtime/ms-rest/.vscode/launch.json

The file after f

[2020-04-01 04:04] evanfrawley commented on #5144
Hey @qiaozha / @nickzhums. Do you have an update on the status of this? This is a blocking bug on my end as I'm not able to remove exited containers by querying if they're still running.

[2020-04-01 04:13] nickzhums commented on #5144
@evanfrawley Sorry about that, seems like the tagging is not working properly, let me find someone on the team to look at this

[2020-04-01 04:28] evanfrawley commented on #5144
Appreciate it @nickzhums!

[2020-04-11 06:20] rykdesjardins opened #5149 "responseFilter parameter not encoded correctly in cognitiveServicesWebSearch"
I was trying to use the `responseFilter` option in the `cognitiveServicesWebSearch` service and noticed I wasn't able to add multiple filters. After reading the code, I [noticed the commas](https://github.com/Azure/azure-sdk-for-node/blob/739be14a071b6aa0da9269857b3678f0bd6b2614/lib/services/cognitiveServicesWebSearch/lib/operations/web.js#L407) were part of the `encodeURIComponent` parameter, tur

[2020-04-15 06:36] qiaozha commented on #5147
we have already released ms-rest 2.5.4. This problem should've been fixed now.

[2020-04-15 06:40] qiaozha commented on #5149
@ramya-rao-a  Is this a data-plane issue.

[2020-04-15 06:43] qiaozha commented on #5146
@nickzhums  How should we fix the dependency deprecated in node sdk now?

[2020-04-15 06:55] nickzhums commented on #5146
@Richienb Hi, Node.JS SDK is deprecated and we encourage you to use the JavaScript SDK:

https://github.com/Azure/azure-sdk-for-js

We will only do major security fixes for Node.JS SDK in the meantime, maybe you could share more context in this dependency update?

Thanks

[2020-04-15 16:45] ramya-rao-a commented on #5149
Thanks @qiaozha

@rykdesjardins Thanks for reporting and your efforts in creating the PR. Unfortunately, this is an auto-generated library and we can't take manual fixes in for it.

The [azure-cognitiveservices-websearch](https://www.npmjs.com/package/azure-cognitiveservices-websearch) has been replaced with [@azure/cognitiveservices-websearch](https://www.npmjs.com/package/@azure/cognitiveservice

[2020-04-20 08:18] forsen commented on #5147
It is, thanks!

[2020-04-20 08:18] #5147 closed

[2020-04-23 16:37] catch2kk opened #5150 "connect ETIMEDOUT serviceBusError at receiveMessages"
Reading messages from service bus queue using "@azure/service-bus" in Azure function with node js. Some times getting error **connect ETIMEDOUT** error.  So how to  solve this issue.

Exception: ServiceBusError: ServiceUnavailableError: connect ETIMEDOUT 40.116.115.21:4671
Stack: ServiceBusError: ServiceUnavailableError: connect ETIMEDOUT 40.116.115.21:4671
    at serviceBusQueueReader.getMessageR

[2020-04-25 15:35] nli8n commented on #2424
what was done to fix it ? Still facing issues in extracting error code and error description

[2020-04-28 20:39] ramya-rao-a commented on #5150
Thanks for reporting @catch2kk

Please use the latest version i.e 1.1.6 of the `@azure/service-bus` package which was shipped last week. This has improvements on connection reliability in general.

Also, for future issues and feedback, please log an issue in https://github.com/Azure/azure-sdk-for-js which is the home for the `@azure/service-bus` package

The ServiceUnavailableError points at netwo

[2020-04-28 20:39] #5150 closed

[2020-04-28 20:42] ramya-rao-a commented on #5142
Assuming you are using the `@azure/service-bus` package, we would recommend you upgrade to the latest version 1.1.6 which we shipped last week. This update has improvements on connection reliability in general.

Also, for future issues and feedback, please log an issue in https://github.com/Azure/azure-sdk-for-js which is the home for the `@azure/service-bus` package

[2020-04-28 20:42] #5142 closed

[2020-04-29 00:42] bganapa opened #5151 "[AzureStack]-azure-keyvault dataplane client does not honor custom cloud settings like login endpoint / TokenAudience"
azure-keyvault package is not hornoring custom cloud settings like login endpoint and token audience. Azurestack has different endpoints and  token audience for each cloud deployments. Adfs enviornment has a diiferent URL for login as well.

Package version
    "azure-keyvault": "^3.0.5",

To repro
git clone https://github.com/jongio/storage-node-resource-provider-getting-started.git
cd storage-no

[2020-04-30 18:17] jntrnr opened #5153 "Fix the code snippet in the readme for azure-keyvault"
Related to: https://github.com/Azure/azure-sdk-for-node/issues/5151

From Ramya: "the sample for [azure-keyvault](https://github.com/Azure-Samples/key-vault-node-authentication), we see KeyvaultCredentials being used for the data plane library, and the normal login methods of ms-rest-azure for the management library. If the login methods of ms-rest-azure cannot be used directly with azure-keyvault

[2020-05-01 16:09] caleteeter opened #5154 "Cannot find module 'moment' when using azure-arm-resource package"
When using the [azure-arm-resource](https://www.npmjs.com/package/azure-arm-resource) package in my typescript project, I am now getting exceptions that the moment module cannot be found.

[code]

Looking a bit deeper at this, the moment reference is not used in these typings files which are generated from AutoRest Code Generator.

To test I removed these references to moment in each of the typing

[2020-05-01 17:01] rootik commented on #5144
Any progress on this @nickzhums ?

[2020-05-01 18:30] caleteeter commented on #5154
Appears to be a break from moment v2.25.0, reverting back to v2.24.0 works fine.

[2020-05-02 00:33] jongio commented on #5151
We got this working with azure-keyvault v1.0.0 and setting validateAuthority to false
[code]

[2020-05-04 00:44] ramya-rao-a commented on #5151
Thanks @jongio

Closing this issue with two takeaways
- To support Keyvault service api versions older than v7, one needs to use v1 of azure-keyvault as the later versions of the package only support v7 of the service api
- For auth, one needs to use the `KeyvaultCredentials` when creating the client instead of the credentials from any of the normal login methods of `ms-rest-azure`.  #5153 tracks

[2020-05-04 00:44] #5151 closed

[2020-05-05 07:46] alopix opened #5157 "ms-rest-azure depends on moment but does not use it"
The ms-rest-azure tool depends on the moment package but does not actively use it.

[Code Search](https://github.com/Azure/azure-sdk-for-node/search?q=path%3A%2Fruntime%2Fms-rest-azure+moment&unscoped_q=path%3A%2Fruntime%2Fms-rest-azure+moment)

Similarly ms-rest uses it to check if something is a `duration` which could probably achieved using a more lightweight library?
[Code Search](https://gith

[2020-05-07 17:50] darshanhs90 opened #5159 "xmlbuilder 0.4.3 is prone to security vulnerabilities"
We use msportalfx-test node package for our UI Unit testing, which has azure-common as a dependency.
As Azure-common uses the following node package (xml-builder @0.4.3) , we are getting flagged for security vulnerabilitities associates with this package.

Can this be updated to any latest versions of this library?

[2020-05-07 19:59] ramya-rao-a commented on #5149
@rykdesjardins, Thanks for your patience!

The issue https://github.com/Azure/azure-sdk-for-js/issues/4244 has been fixed now.
If you can move to use the [@azure/cognitiveservices-websearch](https://www.npmjs.com/package/@azure/cognitiveservices-websearch) package, it should have the fix.

[2020-05-07 19:59] #5149 closed

[2020-05-08 01:24] penggaolai opened #5160 "WorkflowRunActions only returns 30 actions max"
We have a logic app that contains over 100 actions. But I run following snippet, it only returns me 30 actions.

            var actions = _client.WorkflowRunActions
                 .List(resourceGroup, logicApp, workflowRun.Name)
                 .OrderBy(x => x.StartTime);

 For all logic apps that contains less than 30 actions, it works fine. Are there any settings that control this limitation

[2020-05-08 08:22] deasems opened #5161 "ms-rest-azure changelog"
Where can the changelog for releases be found? I'm looking for what changed in the 3.0.0 release but not finding anything in the releases tab or changelog file.

[2020-05-09 00:01] sadasant commented on #5153
I tried to replicate this with my own resources and I haven't been able to do so. So far, azure-sdk-for-node seems to work fine with ms-rest authentication methods. I got in contact with Jon Gallant and he said that he was going to provide me with some specific environment variables that should help me reproduce the bug.

[2020-05-11 16:59] ramya-rao-a commented on #5153
@sadasant, Can you share which login methods from did you try?

[2020-05-12 08:10] Tubbie opened #5162 "No support for aeg-sas-token"
I am working with Event grid and want to authenticate the publisher with SAS token. There is no support for this in the library.

[2020-05-14 21:38] sadasant commented on #5153
I'll share code snippets as soon as I can go back to this, which should be soon.

[2020-05-15 08:30] Jason446620 opened #5163 "Is there any sample code for generating thumbnails?"
Microsoft has official .net sample code for generating thumbnails. I carefully read the source code of azure-sdk-for-node. I only see models that define JpgImage and PngImage, but there is no code for generating thumbnails. (Azure-Media-Service, Not Compute Vision)

If there are related documents or codes, I hope to update them. Thank you.

[2020-05-15 09:46] faisquinha commented on #5139
Hello people. Is it possible to return a json? Now return an object.
Thanks

#Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions
consumption_client = ConsumptionManagementClient(credentials, subscription_id, base_url=None)

results = consumption_client.usage_details.list(scope = '/subscriptions/' + subscription_id +'/', expand='properties/mete

[2020-05-18 11:28] Console32 commented on #2284
@jonathandturner should this work in c# as well? I struggle to get the azure c# sdk to work with my az cli credentials. I am using Azure.Identity 1.1.1 DefaultAzureCredential but with no luck.

[2020-05-21 07:03] qiaozha commented on #5139
Hi, Did you mean the original http response?  which should be able to found result._response.bodyAsText;

[2020-05-21 07:24] qiaozha commented on #5139
Sure, if there's no more following question in this issue in one week, I will close it.

[2020-05-22 18:24] gyamada619 commented on #5144
@bennyx93 & I have experienced the same behavior using the Azure REST API. The `instanceView` is simply not returned on a `List` operation for container groups.

[2020-05-23 11:03] RodgeFu commented on #5127
Close this one as issue 6487 is created in JS SDK repo to follow up. Thanks.

[2020-05-23 11:03] #5127 closed

[2020-05-23 11:10] RodgeFu commented on #5107
SDK doesn't do much in the authentication. + "Service Attenion" label to include service team to check why 401 is returned. thanks.

[2020-05-25 22:27] jonathandturner commented on #2284
@Console32 - yes, you should be able to use the Azure SDK for .Net and access the `az login` via the DefaultAzureCredential. There isn't currently a way to access the Azure CLI credential directly, only indirectly through the default credential. The default credential should try a set of credentials, one after another, and one of these will be to try to receive the login credential that `az` conta

[2020-05-26 01:55] x5engine opened #5164 "dead link on readme for eventgrid"
https://azure.microsoft.com/en-us/services/eventgrid/

[2020-05-26 02:36] qiaozha commented on #5163
@nickzhums  Can you take a look at this issue? Thanks

[2020-05-26 02:38] qiaozha commented on #5164
Hi, https://azure.microsoft.com/en-us/services/event-grid/ Is this what you want to find?

[2020-05-26 02:38] nickzhums commented on #5163
@Jason446620 could you share the link of .NET sample for generating thumbnails?
Did you also check the Azure REST API ? (https://docs.microsoft.com/en-us/rest/api/azure/)

[2020-05-26 02:51] qiaozha commented on #5161
@ramya-rao-a  Hi， Is this  ms-rest-azure supported by data-plane team?

[2020-05-26 02:53] qiaozha commented on #5162
@Tubbie  Hi, Could you tell me which sdk package are you using?

[2020-05-26 03:02] qiaozha commented on #5160
@penggaolai  Hi Thanks for reporting this, Can you try if add this
[code]
works or not?

[2020-05-26 03:25] qiaozha commented on #5159
Thanks for reporting this, I will take a look at this ASAP.

[2020-05-26 03:35] qiaozha commented on #5154
Thanks for reporting this, I will follow up on this.

[2020-05-26 03:36] qiaozha commented on #5157
Thanks for reporting this, I will follow up on this.

[2020-05-26 05:20] ramya-rao-a commented on #5161
@deasems,
You can find the changelog for ms-rest-azure at https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest-azure/Changelog.md

@qiaozha,
https://github.com/Azure/azure-sdk-for-node/pull/5165 brings the changelog up to date. Can you review and merge?

[2020-05-26 05:23] qiaozha commented on #5161
Sure, I will review it.

[2020-05-26 05:27] ramya-rao-a commented on #5161
The PR has been merged, thanks @qiaozha

[2020-05-26 05:27] #5161 closed

[2020-05-26 05:39] qiaozha commented on #5138
@ramya-rao-a  Can you help me review this PR #5166, I wonder whether we need to release new package for this?

[2020-05-26 06:43] ramya-rao-a commented on #5138
@qiaozha Without a release, the change is not of any use, but on second thoughts, I would not recommend making the change either.

The `KeyvaultCredentials` from `ms-rest-azure` is used only when using the `azure-keyvault` library.  This package is already deprecated in favor of the new `@azure/keyvault-keys`, `@azure/keyvault-secrets` and `@azure/keyvault-certificates` packages. This does not mak

[2020-05-26 07:08] qiaozha commented on #5138
okay, Then I will close this PR.

[2020-05-26 16:03] ramya-rao-a commented on #5138
Closing issue due to reasons described above.

[2020-05-26 16:03] #5138 closed

[2020-05-28 01:41] Jason446620 commented on #5163
@nickzhums  I have read the link (computer vision) you given before I ask the question.  .NET sample for generating thumbnails.  https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-dotnet-generate-thumbnail-with-mes

[2020-05-28 20:49] sadasant commented on #5153
Ok so,

What I tried that worked was to use Jon's https://github.com/jongio/storage-node-resource-provider-getting-started

There, Jon uses `KeyVault.msRestAzure.loginWithServicePrincipalSecret` to authenticate.

Since that worked, I tried to reproduce this separately. Here's my isolated code:

[code]

That code **fails*. ... But why?

It took me a while, but now I realize that Jon's repo has this

[2020-05-29 04:50] ramya-rao-a commented on #5153
I am not convinced with the fix...

`@azure/ms-rest-nodeauth` was created to support the `@azure/*` libraries. The `azure-*` libraries are meant to use `ms-rest-azure`. The auth parts of `ms-rest-azure` was pulled out  form `@azure/ms-rest-nodeauth`.

We should continue to dig as to why `@azure/ms-rest-nodeauth` works but `ms-rest-azure` doesnt.

[2020-05-29 09:54] RodgeFu commented on #5168
Agree and transferred. thanks.

[2020-05-29 15:21] sadasant commented on #5153
Both libraries have a method called `loginWithServicePrincipalSecret` that return a value of the class `ApplicationTokenCredentials`, **however**, these classes are different in `ms-rest-azure` and in `@azure/ms-rest-nodeauth`. I haven't been able to coerce one to become the other yet.

[2020-05-29 15:25] sadasant commented on #5153
Let's say I try this:

[code]

Then I get this error:

[code]

[2020-05-29 16:06] sadasant commented on #5153
These two TokenCredentials are widely different:

- https://github.com/Azure/ms-rest-nodeauth/blob/adea8415de97a8076006fbd9948123d09dfdd78d/lib/credentials/tokenCredentialsBase.ts
- https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest/lib/credentials/tokenCredentials.js

[2020-05-29 18:26] ramya-rao-a commented on #5153
We shouldnt have to cast to ms-rest-nodeauth credentials.
The azure-keyvault package has been around a long time before ms-rest-nodeauth package was created. It shouldnt have to depend on ms-rest-nodeauth at all.

The code snippet in https://github.com/Azure/azure-sdk-for-node/issues/5153#issuecomment-635599921 works fine for me with v2 of ms-rest-azure, but not v3 of ms-rest-azure. Perhaps, we ca

[2020-05-29 18:43] sadasant commented on #5153
I cannot make it work in ms-rest-azure v2 nor v3. However, I can make it work with both versions if I pin azure-keyvault to version 3.0.4. I find it always broken in version 3.0.5

[2020-05-29 19:11] x5engine commented on #5164
Hi, yes but the other link should be fixed because it's on google, thanks

[2020-05-29 19:11] #5164 closed

[2020-05-29 19:49] sadasant commented on #5153
The issue is that azure-keyvault 3.0.5 depends on ms-rest-azure 2.6.0, and keeps referencing the 2.6.0 types even if we install ms-rest-azure 3.0.0. This causes the type mismatch. Can we update azure-keyvault to use ms-rest-azure 3.0.0? I tried updating locally, packing azure-keyvault and using that packed tgz, and the issue disappeared.

[2020-05-29 20:38] sadasant commented on #5153
I believe this issue is similar to https://stackoverflow.com/questions/58840006/multiple-instance-of-same-class-get-different-instanceof

We use instanceof to check if we're receiving the supported credentials. instanceof will answer differently for different classes, even if they have the same name. These classes are instantiated in different places.

This also happens in the browsers with differ

[2020-05-29 20:42] ramya-rao-a commented on #5153
If this is true, then how does passing credentials from ms-rest-nodeauth to azure-keyvault work? The classes would be different here as well

[2020-05-29 22:41] sadasant commented on #5153
It doesn't, the names have been confusing me.

It only works if we explicitly use the same version as azure-keyvault (or if NPM makes us use that same version).

[2020-05-30 00:40] ramya-rao-a commented on #5153
Ok, so I believe the next steps would be
- update readme to note that only v2 of ms rest azure can be used
- update readme with a note on when KeyvaultCredentials should be used instead of the credentials from ms rest azure

Thoughts?

[2020-05-30 00:54] sadasant commented on #5153
Can do! Thank you 🙌

[2020-06-01 07:47] go-shinyashiki opened #5169 "About reception processing when maxConcurrentCalls is set"
Title:About reception processing when maxConcurrentCalls is set

[Overview]
It will not be reproduced in other SDKs, but only in the SDK of Node.js.

Set the "registerMessageHandler ()", "handlerOptions" as "maxConcurrentCalls: 1", but messages are received in parallel.
Unless executing "complete ()" or "abandon ()", it should be able to receive one message at a time, but that is not the case.
Cou

[2020-06-01 07:47] #5169 closed

[2020-06-01 07:58] go-shinyashiki opened #5170 "About reception processing when maxConcurrentCalls is set"
[Overview]
It will not be reproduced in other SDKs, but only in the SDK of Node.js.

Set the "registerMessageHandler ()", "handlerOptions" as "maxConcurrentCalls: 1", but messages are received in parallel.
Unless executing "complete ()" or "abandon ()", it should be able to receive one message at a time, but that is not the case.
Could you please tell us why it cannot able to receive one message a

[2020-06-02 01:10] yuhaii commented on #5170
I made a test with C# SDK Microsoft.Azure.ServiceBus 2.0.0 and can't reproduce this issue.

I set MaxConcurrentCalls as 1, then I add a sleep code to let the thread sleep 5 seconds. But there was no other message triggered the message receiver callback and enter into ProcessMessagesAsync function's breakpoint.

![image](https://user-images.githubusercontent.com/39817657/83468947-e025e280-a4b0-11ea

[2020-06-02 13:32] sadasant commented on #5153
Here's a PR: https://github.com/Azure/azure-sdk-for-node/pull/5171

[2020-06-03 08:32] qiaozha commented on #5154
Hi, I notived that the latest version of azure-mgmt-resource is 7.3.0, when I run npm install. the moment package will be include in the package-lock.json Can you give it a try to see if it works?

[2020-06-03 08:37] qiaozha commented on #5157
@ramya-rao-a  Hi Ramya, I found this issue https://github.com/Azure/azure-sdk-for-node/issues/5154 is about the moment package as well. the code referenced moment but actually don't use it. Should we remove the moment dependency and release a new package for azure-arm-resource ?

[2020-06-03 08:42] qiaozha commented on #5139
close this issue as no response in one week and for furthur question please go to https://github.com/Azure/azure-sdk-for-js/issues/7303

[2020-06-03 08:42] #5139 closed

[2020-06-03 09:29] dgomezc opened #5174 "Calling azure database checkNameExists fails (error 500)"
When check cosmosDB account name with `checkNameExists` function, the promise reject with error 500.

[2020-06-05 04:51] ramya-rao-a commented on #5157
For ms-rest-azure, we can definitely remove the dependency altogether

@maggiepint What would you recommend as a replacement for `moment.isDuration()`?

@qiaozha, Issue #5154 is slightly different as I believe that is auto generated code. You can either fix the code generator and re-generate the package or remove the unused moment references manually. Since we don't plan to do any further feature

[2020-06-08 08:19] dgomezc commented on #5174
Closing because name validation is working again

[2020-06-08 08:19] #5174 closed

[2020-06-09 19:57] joshlarsen opened #5176 "[Documentation] Authentication documentation error for azure-graph sdk using interactive authentication"
### Error Observed

[Documentation/Authentication.md](/Azure/azure-sdk-for-node/blob/master/Documentation/Authentication.md) references `tokenAudience` of `graph`, but it should be `https://graph.microsoft.com`. Using `graph` will result in the error below. Using Service Principal Authentication with the subscription and tenant works fine.

[code]

<img width="667" alt="Screenshot 2020-06-09 10 24

[2020-06-10 07:57] qiaozha commented on #5154
@caleteeter Hi,  I have removed the invalid reference in latest release. https://www.npmjs.com/package/azure-arm-resource/v/7.4.0 You may have a try and see if it works.

[2020-06-12 01:30] qiaozha commented on #5176
@ramya-rao-a  Hi Ramya, Is azure-graph a data-plane package?

[2020-06-12 02:54] ramya-rao-a commented on #5176
@willmtemple Can you take a look at this? Based on your prior work in `@azure/graph`, do you recall what the right value to use here would be?

I am hesitant to make this change without due investigation as the use of `graph` for token audience has been documented in a lot of places and there are hard-coded checks for it as well. Relevant PRs
- #2420
- #1922

[2020-06-12 17:02] joshlarsen commented on #5176
To clarify, `{ tokenAudience: 'https://graph.microsoft.com' }` is only necessary for interactive authentication. Using `{ tokenAudience: 'graph' }` works for Service Principal authentication (and perhaps other methods).

[2020-06-12 17:34] ramya-rao-a commented on #5176
Thanks for the clarification @joshlarsen

Interestingly, in the new [@azure/graph](https://www.npmjs.com/package/@azure/graph) package, the readme uses `https://graph.windows.net` as the token audience when doing interactive auth.

@willmtemple should be able to take a look at this next week

[2020-06-16 07:36] go-shinyashiki commented on #5170
The complete() process is in the asynchronous process and we confirmed that the next message was received without waiting for the completion() process.
Is this as expected?
Also, is it possible to put complete() process in asynchronous process and wait until complete() process?

For example, as the code As shown below, before the fin log is output, the start log of the following message is output.

[2020-06-18 01:28] qiaozha commented on #5170
@ramya-rao-a  Hi Ramya, Is this an issue in azure-service-bus ?

[2020-06-18 18:59] ramya-rao-a commented on #5170
Thanks @qiaozha
This issue is for the `@azure/service-bus` package and so I'll move it to the azure-sdk-for-js repo.

[2020-06-23 02:14] Dharmvir2020 commented on #5153
Stay home stay safe
 <a href="https://www.bankingnetwork.online/">Banking network</a>

[2020-06-23 15:19] Tubbie commented on #5162
Hi @qiaozha Thanks for the reply.
Sorry I am bit late to answer.
I have created a PR - https://github.com/Azure/azure-sdk-for-node/pull/5178
And I have referred  this for the code:
https://docs.microsoft.com/en-us/azure/event-grid/security-authentication

[2020-06-24 01:13] qiaozha commented on #5162
@ramya-rao-a hi, Looks like this PR is about ms-rest-azure. Could you take a look at it?

[2020-06-24 01:14] qiaozha commented on #5162
After you approve this PR. I can help to merge it.

[2020-06-24 06:44] ramya-rao-a commented on #5162
Thanks for reporting @Tubbie

Looks like what you have in your PR can be used in your application as a workaround as well i.e create the class `TopicSASCredentials` extending `ApiKeyCredentials`.

Both `ms-rest-azure` and the `azure-eventgrid` packages are in a maintainence mode where we are doing bug & security fixes only.

The `@azure/eventgrid` package is the replacement for `azure-eventgrid`.

[2020-06-24 06:44] #5162 closed

[2020-06-29 12:45] Tubbie commented on #5162
Hi @ramya-rao-a That's what exactly I did and hence the PR. Thank you for the reply and clarification.
Thank you @qiaozha for quick action on it. :)

[2020-07-01 15:48] scgbear commented on #5072
<details>
<summary>Internal Tracking</summary>
CSEF217372
</details>

[2020-07-11 03:44] willmtemple commented on #5176
@joshlarsen Thanks for reporting this issue. `graph.microsoft.com` is the endpoint and the resource ID to use for the newer Microsoft Graph API (the package for that API is `@microsoft/microsoft-graph-client` on NPM). The `azure-graph` package is an older package for use with the older Azure Active Directory Graph service (a newer package for this older service exists in `@azure/graph`).

@ramya-r

[2020-07-14 07:14] ramya-rao-a commented on #5120
Apologies for the late response here @durgadp

Based on the what you have shared in the issue description, it looks like you are targeting `graph.microsoft.com` endpoint which is for the newer [Microsoft Graph API](https://developer.microsoft.com/graph)

The package `azure-graph` you are using is for the older [Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/act

[2020-07-14 07:14] #5120 closed

[2020-07-14 07:15] ramya-rao-a commented on #5120
cc @willmtemple to add additional insights if any

[2020-07-14 07:52] ramya-rao-a commented on #5176
@joshlarsen,

Are you using the newer [Microsoft Graph API](https://developer.microsoft.com/graph) or the older [Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api)? In case you are planning on moving to the newer Microsoft Graph API, please use the [@microsoft/microsoft-graph-client](https://www.npmjs.com/package/@microsoft/microsoft-gra

[2020-07-14 13:24] joshlarsen commented on #5176
@ramya-rao-a,

It's not actually our software. We are integrating a tool that uses [Azure SDK for Node.js](https://azure.github.io/azure-sdk-for-node/), which appears to be fairly old.

It is using `var msRestAzure = require('ms-rest-azure');` as the basis for all of it's Azure functionality. Unfortunately, we can't really do anything about that.

[2020-07-17 05:54] ramya-rao-a opened #5180 "Missing docs for azure-sb package"
`azure-sb` is the legacy package for Service Bus

Interestingly, it has code to support the Notification Hubs service as well, and therefore is not legacy on that front.

We plan to copy out the Notification Hubs code from this package to a separate package soon. But meanwhile, API reference docs for this package needs to show up under [Notification Hubs](https://docs.microsoft.com/en-us/javascrip

[2020-07-20 17:56] scbedd commented on #5180
@ramya-rao-a thanks for the early heads up. I'm reading two requests here.

1. Are you asking that I move `azure-sb` under `Notification Hubs` under the `latest` moniker right now?
2. Add `azure-sb` under `Service Bus` under `legacy` moniker.

[2020-07-20 18:06] ramya-rao-a commented on #5180
On second thoughts...

Let's go with 2) for now.
The splitting of Notification Hubs code from azure-sb to a new package should happen sooner than later. So, you can skip 1)

I'll log a separate request once the new package is out to get the ref docs generated for it under Notification Hubs

[2020-07-20 18:56] scbedd commented on #5180
I have added `azure-sb` to legacy CI, and added it to the ToC in [this commit](https://github.com/MicrosoftDocs/azure-docs-sdk-node/commit/e6e69e233646a4cfebd0adb0310d5fe496b20f90) as well. I'd very much like to include the legacy `readme`.

@ramya-rao-a Can you show me where `azure-sb` last published from so I can grab the readme and add it manually once?

[2020-07-20 18:59] ramya-rao-a commented on #5180
Package link: https://www.npmjs.com/package/azure-sb
Source code readme: https://github.com/Azure/azure-sdk-for-node/blob/master/lib/services/serviceBus/README.md

[2020-07-21 02:28] ramya-rao-a commented on #5122
@durgadp We will be closing this issue as we havent heard back from you in a while.
If you have issues using the newer https://www.npmjs.com/package/@azure/graph package, then please log an issue at https://github.com/Azure/azure-sdk-for-js/

[2020-07-21 02:28] #5122 closed

[2020-07-22 02:24] freshlogic opened #5181 "v0.9.23 published to NPM an hour ago introduces: Cannot find module 'xmlbuilder/lib/XMLBuilder'"
Error: Cannot find module 'xmlbuilder/lib/XMLBuilder'
Require stack:
- /azure-common/lib/util/patch-xmlbuilder.js

[2020-07-22 03:01] freshlogic commented on #5181
Reproduction created here: https://github.com/Azure/azure-sdk-for-node/pull/5179#issuecomment-662212263

[2020-07-22 06:05] rnpramasamy commented on #5181
Yesterday azure-sb was working and Installed this package again in the new package, I got below error

Error: Cannot find module 'xmlbuilder/lib/XMLBuilder'

[2020-07-22 18:55] ChuckLangford commented on #5181
+1 on this issue

[2020-07-23 01:21] ramya-rao-a commented on #5176
@joshlarsen Using `ms-rest-azure` is not the problem here. My question was around using the `azure-graph` package.

The newer [Microsoft Graph API](https://developer.microsoft.com/graph) is recommended over the older [Azure AD Graph API](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api).

The `azure-graph` package is for the latter.
The[@microsoft/microsof

[2020-07-23 05:18] ramya-rao-a commented on #5181
@qiaozha Can we close this issue now that you have reverted the change that introduced this bug and released an update?

[2020-07-23 05:20] qiaozha commented on #5181
sure  https://www.npmjs.com/package/azure-common/v/0.9.24

[2020-07-23 05:20] #5181 closed

[2020-07-23 20:09] scbedd commented on #5180
Added `azure-sb` readme in [this commit](https://github.com/MicrosoftDocs/azure-docs-sdk-node/commit/6724e68cc208096052b4b2d73b70fac90bab0188)

[2020-07-27 16:03] ramya-rao-a commented on #5176
Closing as the docs are now updated with #5187

Thanks for logging the issue and working with us @joshlarsen!

[2020-07-27 16:03] #5176 closed

[2020-07-28 06:05] ramya-rao-a commented on #5154
@qiaozha, Can we close this now that https://github.com/Azure/azure-sdk-for-node/pull/5173 is merged?

[2020-07-28 06:06] ramya-rao-a commented on #5157
@qiaozha, Can we update `ms-rest-azure` to remove the dependency on `moment` which it does not use?

 @maggiepint What would you recommend as a replacement for `moment.isDuration()`?

[2020-07-28 06:07] ramya-rao-a commented on #5159
@qiaozha, Can we close this now that we have updated the version of xml-builder being used in this repo?

[2020-07-28 06:08] qiaozha commented on #5154
Yeah. I think so

[2020-07-28 06:08] #5154 closed

[2020-07-28 06:09] ramya-rao-a commented on #5168
@qiaozha, Assuming that this is related to only a doc update, can we have this fixed?

[2020-07-28 06:11] qiaozha commented on #5157
I can remove it and I need to release a new ms-rest-azure ?

[2020-07-28 06:13] qiaozha commented on #5159
Yeah. I think so. @darshanhs90  Feel free to reopen the issue if the new package still has problem.

[2020-07-28 06:13] #5159 closed

[2020-07-28 06:16] ramya-rao-a commented on #5157
I don't believe a release is needed as this is not a bug fix. The next time we have a bug fix, the changes can be released together

[2020-07-28 08:04] qiaozha commented on #5157
@ramya-rao-a Okay, then I won't release the package unless there's a request specifically ask for a new release. Can you help review my PR #5188

[2020-07-28 08:16] qiaozha commented on #5168
I see both the example in https://www.npmjs.com/package/azure-arm-datalake-store  and the code @Adithya1894 provided are using the `fileSystem` now. Maybe this is not about the doc. let me check and get back to it.

[2020-07-28 09:49] qiaozha commented on #5168
The correct way of using this example should be as what @amarzavery said remove the 'azuredatalakestore.net'
[code]

@me-ashishk  As for your question, this is because the accountName is not exist, You can use the following code to create a datalake store account first
[code]
Please note that in the listFileStatus the pathToEnumerate also need to be existing path.

[2020-07-28 09:51] qiaozha commented on #5168
@ramya-rao-a  I have a PR to fix this doc. https://github.com/Azure/azure-sdk-for-node/pull/5189 Can you help review it? Thanks

[2020-07-30 02:15] qiaozha commented on #5168
close this issue as released at https://www.npmjs.com/package/azure-arm-datalake-store/v/3.1.2-preview, the doc looks correct now

[2020-07-30 02:15] #5168 closed

[2020-08-02 23:27] scbedd commented on #5180
Updates merged for this.

[2020-08-02 23:27] #5180 closed

[2020-08-03 03:40] ramya-rao-a commented on #5180
Thanks @scbedd!

I can see the docs at https://docs.microsoft.com/en-us/javascript/api/azure-sb/?view=azure-node-legacy

[2020-08-19 15:58] jefjos opened #5190 "ms-rest-azure - Specify scope in device cocde login"
I am using ms-rest-azure for interactive login in a command line application for device code flow - https://github.com/Azure/azure-sdk-for-node/blob/8691046c2ca738552d815f6967f5f54b04840276/runtime/ms-rest-azure/lib/login.js#L153

In this doc on device code flow - https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code#protocol-diagram the request to /deviceCode endpo

[2020-08-30 04:57] joechung-msft commented on #5160
@penggaolai there is a `ListNext` method to follow the continuation (_nextLink_) returned by the `List` method so you can get more run actions. The `ListNext` can also return a continuation (_nextLink_) so you might need to call it more than once.

Reference
[Azure SDK for .NET documentation](https://azuresdkdocs.blob.core.windows.net/$web/dotnet/Microsoft.Azure.Management.Logic/4.1.0/api/Microsof

[2020-09-07 11:20] amit12cool opened #5191 "The link is broken"
Please update the link below:-
https://github.com/Azure/azure-sdk-for-node/blob/master/Documentation/DummyCerts.md

[2020-09-09 23:40] hzinedda opened #5192 "need a template ARM to monitor a data factory pipelines"

[2020-09-23 08:17] quaijamiro commented on #1717
Hello, I have two tasks to do:

1. Extracting cost estimation for Virtual Macine
2. Extracting cost estimation for App Service

Which library would be useful for accomplishing these two tasks?

[2020-09-24 16:18] ramya-rao-a commented on #5162
Hello!

We have recently released a new beta for the Event Grids package.
Please see [Introducing the new Azure Event Grid Client Libraries with CloudEvents v1.0 Support](https://devblogs.microsoft.com/azure-sdk/event-grid-client-libraries/) for the broader announcement

Also,  https://github.com/Azure/azure-sdk-for-js/issues/9685 is now closed as the latest beta does support the aeg-sas-token tha

[2020-09-27 01:35] qiaozha commented on #5191
@ramya-rao-a Do you have any idea what that link might be?

[2020-09-27 01:37] qiaozha commented on #5192
@hzinedda Could you share more details about this issue? Are you trying to find a way to get the ARM template of a datafactory pipelines?

[2020-09-27 01:49] ramya-rao-a commented on #5191
No idea..

@amit12cool Can you share where you found the above link?

[2020-09-27 01:54] amit12cool commented on #5191
@ramya-rao-a I don't remember now. Will try to go nd.

[2020-09-27 08:13] qiaozha commented on #5190
This issue is about ms-rest-azure, @ramya-rao-a  Could you take a look ? Thanks

[2020-09-27 08:16] qiaozha commented on #5157
close it as the PR is merged, issue should be fixed in any next release of ms-rest-azure

[2020-09-27 08:16] #5157 closed

[2020-09-28 02:15] nickzhums commented on #5163
I believe these docs are maintained by Azure Media Services and not us, I will route them instead @Jason446620

[2020-09-28 17:40] akucer commented on #5163
@Jason446620 - It is not clear what exactly you are looking for. There are the following Media Services samples that illustrate how to create thumbnails (the first v2 one that you already identified).
Here is a [V2 example](https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-dotnet-generate-thumbnail-with-mes) of generating thumbnails.
Here is a [V2 sprite](https://docs.m

[2020-09-28 17:40] #5163 closed

[2020-09-28 21:29] diberry opened #5196 "Update createSP to more modern JS"
This [example code](https://github.com/Azure/azure-sdk-for-node/tree/master/Documentation/ServicePrincipal) hasn't been touched since 2016 and is in need of updating:
* change var to const or let, whichever is appropriate
* replace callbacks with async/await

Is there anywhere that Azure constants/enum could be useful in this code?

Would you accept a PR for this?

[2020-09-30 20:25] diberry opened #5198 "Ref doc issue - ms-rest-nodeauth loginWithAppServiceMSI()"
This [ref doc](https://docs.microsoft.com/en-us/javascript/api/%40azure/ms-rest-nodeauth/?view=azure-node-latest#loginwithappservicemsi--) method doesn't have enough information to use.
* Is there supposed to be a `%40` before azure in the URL?
* Is there more information about the AppServiceMSI or a link to some other doc?
* 3rd paragraph looks incorrectly formatted

![image](https://user-images.

[2020-10-02 18:43] cveld opened #5199 "How to get az-cli context or az-PowerShell context?"
How can we get the current az-cli context or az-PowerShell context from within a nodejs Azure workload?

https://azure.github.io/azure-sdk-for-node/Documentation/Authentication.md currently gives a 404.

https://github.com/Azure/azure-sdk-for-node/blob/master/Documentation/Authentication.md does not describe a way to reuse the existing contexts.

Related: Can we run nodejs workloads within Azure P

[2020-10-16 13:44] mcijsouw opened #5200 "Service Bus Subscription Rules - Missing support for CorrelationFilters with an arbitrary field"
In my project I'm creating a Service Bus topic subscription programmatically:

[code]

Then I would like to add a rule to filter all messages by a specific `TenantId`.

The documentation on https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters states that you can match against any user-defined property with a CorrelationFilter. However, the library does not support this. Looki

[2020-11-04 06:52] qiaozha commented on #5200
@ramya-rao-a Is this for data plane SDK?

[2020-11-05 06:05] ramya-rao-a commented on #5200
@qiaozha Yes, this is for the `azure-sb` package.

@mcijsouw We are working on a new library for Service Bus, where you should be able to use the correlation filter with user defined properties on the message. The `azure-sb` package will soon be deprecated in favor of the new library and will not be getting any new features.

Please give the new library a try.
You can install it using `npm install

[2020-11-05 06:05] #5200 closed

[2020-11-05 06:07] ramya-rao-a commented on #5200
And here is the sample that shows how you would use the ServiceBusAdministrationClient in the new package to create queues/topics/subscription. You can use the same client to create rules as well

[2020-11-18 14:54] mattias-kindborg-at-work opened #5202 "Build warning due to critical dependency in ms-rest"
I'm building a React application using `ms-rest` for authentication to Azure, but get the following warning when building the application using [create-react-app](https://github.com/facebook/create-react-app).

[code]

I guess my first question is whether `ms-rest` is supported to run in browsers? If not, do you recommend me to use any other package to get the functionality of `TokenCredentials`?

[2020-11-19 10:34] mattias-kindborg-at-work commented on #5202
Hi @ramya-rao-a

The issue I was facing was due to my own fault. I was using package `azure-arm-resource` to list subscriptions, and used the class `TokenCredentials` from package `ms-rest` to create an instance of class `SubscriptionClient`.

However, it seems that package `azure-arm-resource` is deprecated in favor of packages scoped to `@azure`, thus I replaced `azure-arm-resource` with `@azure

[2020-11-19 10:34] #5202 closed

[2020-11-19 18:11] ramya-rao-a commented on #5202
Sounds good!

[2020-12-08 23:33] ramya-rao-a commented on #1992
Try the `@azure/service-bus` package which has an api to receive messages in batches. This takes the max batch size and max time to wait as input. You will either get the number of messages you asked for or the number of messages that were fetched within the provided time. Checkout the sample that [receives messages in a loop.](https://github.com/Azure/azure-sdk-for-js/blob/%40azure/service-bus_7.

[2021-01-13 14:22] onerob2000 commented on #2251
Yeah the link to the sample is invalid... 404

[2021-01-31 19:26] ramya-rao-a commented on #5190
Apologies in the delay in response here

The `ms-rest-azure` package uses the [adal-node](https://www.npmjs.com/package/adal-node) package to do the auth work.
From what I can see the `adal-node` package does not allow specifying the scope and hard codes it to `openid` in certain conditions.

I have logged https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/issues/245 for this so t

[2021-01-31 19:26] #5190 closed

[2021-02-23 09:52] Loreno10 commented on #2251
@amarzavery The link that you provided returns 404. Could you please update the link?

[2021-03-22 18:53] dzarate379 opened #5203 "The access token has expired. Please acquire a new token and retry AAD Pod Identity nodejs"
I am trying to access the azure resources using managed pod identities from within the cluster, using the azure SDK (Node JS).
I use the AAD pod identity to talk to the Azure PostGres service.
Each time I make a call I am getting the access token that is valid for 24 hours when the token expires after 24 hours and the new token is not being generated, due to which I am getting the following error.

[2021-03-23 05:30] cpatil7 opened #5204 "Usage of SDK vs REST API in NodeJS Azure Function"
Using Azure SDK for enabling managed identity in the NodeJS function app. These SDKs increased the size of our function app by almost 3mb, which resulted in a high startup time. We then moved to using REST API to make calls for managed identity. Question is are these SDK libraries optimized for size?

[2021-03-29 23:15] amarzavery commented on #2251
@Loreno10 , @onerob2000 - Please find all the samples over here https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus/samples/typescript. People keep moving samples over a period of time. General tip, try moving some folders up in the url and you should be able to find it. Everything is open source!

[2021-04-08 03:13] pratheepraj opened #5205 "azure-sb security vulnerability from Snyk scan"
`azure-common` is using `underscore@1.4.4`(really old) which [has security vulnerability](https://snyk.io/test/npm/azure-common/0.9.25). And `azure-sb` [inherits it](https://snyk.io/test/npm/azure-sb/0.11.1) by using `azure-common`. `underscore@1.4.4` should be updated to the latest version with [no vulnerability(1.12.1)](https://snyk.io/vuln/npm:underscore)

[2021-04-13 04:50] alexrecuenco opened #5206 "Azure-storage leaking all of dom"
I am developing using the azure storage and since you are using `/// ... lib="dom"` it leaks all of the dom.

We had some oustanding issues because of that, unable to have our linters catch issues ahead of time

[2021-04-13 20:58] dzarate379 commented on #5203
Hello
@ramya-rao-a @qiaozha do you happen to have an answer on this issue?
Regards,

[2021-04-15 06:10] ramya-rao-a commented on #5203
Hello @dzarate379

The right repo for queries on `@azure/identity` package is https://github.com/Azure/azure-sdk-for-js.
I'll be transferring your issue there.

Meanwhile, can you share how you use the `tokenJson` that you get from the `getToken()` call?
Do you call `getADToken()` each time you want to use the token?

[2021-04-30 14:32] yuu045-ran opened #5207 "azure-sb notificationHubservice.send method using TCP protocol which will causing function app SNAT exhaustion issue when request increase"
Hello experts,

**Issue description**

azure-sb notificationHubservice.send method using TCP protocol which will causing function app SNAT exhaustion issue when request count increase, based on network packet capture result, each .send seems to occupy one SNAT port when using function app, this will cause outbound connection issue.(https://devblogs.microsoft.com/premier-developer/reducing-snat-por

[2021-05-03 15:36] ramya-rao-a commented on #5207
@mpodwysocki Can you help here?

[2021-05-03 21:33] mpodwysocki commented on #5207
@yuu045-ran Yes, this is indeed an issue, and although in Node 0.12, connection pooling was added, we are not taking advantage of this.  To enable this, we would need to do the following to use the agent options to use the `http.Agent` class.

[code]

[2021-05-04 01:28] pratheepraj commented on #5205
Closing this as preferable to upgrade to the new SDK https://github.com/azure/azure-sdk-for-js

[2021-05-04 01:28] #5205 closed

[2021-05-07 19:21] skhilliard opened #5208 "Fix for underscore vulnerability"
We are currently using the latest version (0.11.1) of the azure-sb library (https://www.npmjs.com/package/azure-sb).   There is now an underscore vulnerability (via the paths azure-sb > underscore, azure-sb > azure-common > underscore) that needs to be addressed (https://npmjs.com/advisories/1674).

Are there any plans to update this library to patch this?

Thanks,
Kelly

[2021-05-13 13:09] yuu045-ran commented on #5207
Hello @mpodwysocki , thank you very much for your reply. Will we have any ETA or trackable link of this bug? I'm actually from CSS team, my customer is having ongoing potential to get SNAT port exhausion and seems that we do not have a workaround here.

[2021-05-20 17:09] ramya-rao-a commented on #5206
Can you clarify the name of the package you are using?

The storage packages in this repository are deprecated. Please use the below packages instead
- `@azure/arm-storage` for managing your Storage account
- `@azure/storage-blob` for working with Storage Blob
- `@azure/storage-queue` for working with Storage Queue

If you are not able to upgrade for any reason, please feel free to send a pull req

[2021-05-20 17:10] ramya-rao-a commented on #5204
Thanks for reporting @cpatil7 and apologies for not responding sooner.

Can you share which Azure SDK did you end up using in the function app?

[2021-05-20 17:13] ramya-rao-a commented on #5199
Thanks for the question @cveld and apologies for not responding sooner.

Have you figured out how to get the currently selected subscriptionId or do you still need help with that?

[2021-05-20 22:00] mpodwysocki commented on #5207
This issue should be able to be closed since merging #5209

[2021-05-21 08:32] lirenhe commented on #5208
cc @nickzhums

[2021-05-21 08:34] lirenhe commented on #5192
No reply for a long time. Close it.

[2021-05-21 08:34] #5192 closed

[2021-05-21 08:35] lirenhe commented on #5191
Close it as there is no update since last year.

[2021-05-21 08:35] #5191 closed

[2021-05-21 08:36] lirenhe commented on #5146
Close it as there is no update for a year. Please use JavaScript SDK.

[2021-05-21 08:36] #5146 closed

[2021-05-21 09:05] lirenhe commented on #5144
The following package is deprecated, https://www.npmjs.com/package/azure-arm-containerinstance
Could you please use https://www.npmjs.com/package/@azure/arm-containerinstance instead?
Please let us know if you still have problems.

[2021-05-23 00:58] #5206 closed

[2021-05-26 18:31] #5208 closed

[2021-05-27 01:51] dw511214992 commented on #5208
@skhilliard please use the latest package. thanks

[2021-05-27 01:51] dw511214992 commented on #5207
the package is released.

[2021-05-27 01:51] #5207 closed

[2021-05-27 12:41] skhilliard commented on #5208
@dw511214992 Thank you, I have.  I appreciate everyone's efforts in resolving this issue!

[2021-06-08 07:15] lirenhe commented on #5204
@cpatil7, we didn't get your response for some time and we will close this item.
Feel free to reopen it if you have more information. Thanks

[2021-06-08 07:15] #5204 closed

[2021-06-28 06:59] lirenhe commented on #5199
No update for 1 month. Close this item and @cveld, please let us know if you have more information for this ask.

[2021-06-28 06:59] #5199 closed

[2021-06-29 03:42] vinutha93bnvs opened #5229 "data-model-dependency-telemetry does not support type: "ServiceBus""
My application is a micro-service architecture based Node JS application.
Using Azure SB SDK & AppInsights SDK to monitor.

Application 1 sends messages to Application 2 via Service Bus.
there is no dependency tracking in appInsights to understand the request tracking.
 Neither operation ID is being tracked to understand the Application 1 --> ServiceBus --> Application 2

[2021-07-20 21:05] ramya-rao-a commented on #5204
Hello @cpatil7

As part of https://github.com/Azure/azure-sdk-for-js/issues/14346, we are moving the `@azure/identity` features that have native dependencies separate extension packages. This should help with the package size. You can try out the new v2 of the slimmed down `@azure/identity`, but please note that it is still in beta. It should go GA in the coming months

[2021-09-30 17:16] jsuhoversnik opened #5211 "ms-rest-azure loginWithAppServiceMSI returning invalid token response"
I am using this package in an azure function app, executing on a timer multiple times a day and out of the blue on 9/23/21 two of my three deployed environments started to throw
`Error: Invalid token response, did not find tokenType`

when trying to get a token to access keyvault

[code]

we are on an older package version, currently using 2.5.9 but the mystery is why the issue only appeared in se

[2021-10-08 09:54] #5196 closed

[2021-11-02 17:33] WilliamRADFunk opened #5212 "Need ms-rest-azure to reference the new version of adal-node in their dependencies (0.2.2)"
I'm with the Azure Portal team.

We have a S360 code security bug in relation to a dependency (xmldom) that is being referenced by adal-node (prior to 0.2.x), which in turn is being referenced by ms-rest-azure (latest adal-node version reference is ^0.1.28). The bug wants the version of xmldom to be upgraded from 0.6.0 to 0.7.0, but the problem is that xmldom transitioned from xmldom to @xmldom/xm

[2021-11-04 22:35] jyu-tera opened #5214 "Vulnerability in Validator JS"
https://github.com/advisories/GHSA-qgmg-gppg-76g5

Security vulnerability was detected in Validator js for azure-common

[2021-11-08 23:33] naveentej opened #5215 "ReDoS vulnerability in validator js"
Regular Expression Denial of Service (ReDoS) in validator@9.4.1 => fixed in version 13.7.0.

https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090599
https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090600
https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090601
https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090602

azure-common needs an update.

[2021-11-15 22:07] WilliamMichelMSFT opened #5218 "Critical Component Governance Vulnerability in json-schema 0.2.3 in ms-rest"
My team got a critical security alert from component governance about json-schema 0.2.3.

There are no suggestions for mitigation, and we are using the latest version of ms-rest (2.5.4)

Can this dependency issue be mitigated on the library side?

[2021-11-15 22:08] WilliamMichelMSFT commented on #5218
![image](https://user-images.githubusercontent.com/82683212/141860743-a784dc7b-953f-481e-8e20-253c7856cf9f.png)

[2021-11-17 15:12] tahir-jamil opened #5219 "I want to generate a video meeting link. Does this lib supports video calling?"

[2021-11-30 03:29] naveentej opened #5221 "Vulnerability - Json Schema Prototype Pollution"
https://snyk.io/vuln/SNYK-JS-JSONSCHEMA-1920922

Dependency chain => azure-common@0.9.26,request@2.88.2,http-signature@1.2.0,jsprim@1.4.1,json-schema@0.2.3

**request** is now deprecated and http-signature has an update that addresses this vulnerability (fixed by json schema @0.4.0)

[2022-01-04 20:43] skhilliard opened #5222 "Vulnerability - Inefficient Regular Expression Complexity in validator.js"
Moderate        Inefficient Regular Expression Complexity in validator.js

  Package         validator

  Patched in      >=13.7.0

  Dependency of   azure-sb

  Path            azure-sb > azure-common > validator

  More info       https://github.com/advisories/GHSA-qgmg-gppg-76g5

[2022-02-11 06:55] qiaozha commented on #5219
@tahir-jamil Could you be more specific about your question ? which package in npm are you refering to ?
Please note that all the packages inside this repo have been deprecated in favor of [azure-sdk-for-js repo](https://github.com/Azure/azure-sdk-for-js), it's not recommend to use packages inside this repo.

[2022-02-11 07:02] qiaozha commented on #5212
close this issue as PR merged. @WilliamRADFunk feel free to let me know if you still find issues. Thanks

[2022-02-11 07:02] #5212 closed

[2022-02-15 03:02] qiaozha commented on #5211
@sadasant Could you help to take a look at this ms-rest-azure loginWithAppServiceMSI issue ? Thanks

[2022-02-15 03:19] sadasant commented on #5211
@qiaozha I can try!

[2022-02-15 03:23] sadasant commented on #5211
@jsuhoversnik Hello, hello! I’ll be doing my best to help you.

I believe the error thrown comes from this location in the code: https://github.com/Azure/ms-rest-nodeauth/blob/684d9825afe25fc907e8d163d19c0996702d0a70/lib/credentials/msiAppServiceTokenCredentials.ts#L126

If so, the message should have printed a more complete error after `Error: Invalid token response, did not find tokenType`. We m

[2022-03-03 19:52] chainalert-bot opened #5225 "ChainAlert: new npm maintainer has published version 2.5.5 of package ms-rest"
Dear [ms-rest](https://npmjs.com/package/ms-rest) maintainers,
Thank you for your contribution to the open-source community.

We've noticed that [azure-sdk](https://www.npmjs.com/~azure-sdk), a new maintainer, just published version 2.5.5 of [ms-rest](https://npmjs.com/package/ms-rest) to npm.

As part of our efforts to fight software supply chain attacks, we would like to verify this release is k

[2022-03-07 15:49] sjuarezgx opened #5226 "CDK for infrastructure as code"
I've searched on the documentation and I didn't see any solution for infrastructrure as code, such as the AWS CDK.
I know there is Bicep - a declarative language - but we would like to you have a CDK to use a programming language familiar with us ,like node.
I'd like to know if there are any plans of having a CDK and what are your recommendations.

Thanks

[2022-03-08 06:25] lirenhe commented on #5225
@qiaozha, do we need to upgrade ms-rest for nodejs?

[2022-03-08 06:38] qiaozha commented on #5222
close it as resolved with latest release. Thanks

[2022-03-08 06:38] #5222 closed

[2022-03-08 06:38] qiaozha commented on #5221
close it as resolved with latest release. Thanks

[2022-03-08 06:38] #5221 closed

[2022-03-08 06:39] qiaozha commented on #5218
close it as resolved with latest release. Thanks

[2022-03-08 06:39] #5218 closed

[2022-03-08 06:39] qiaozha commented on #5215
close it as resolved with latest release. Thanks

[2022-03-08 06:39] #5215 closed

[2022-03-08 06:39] qiaozha commented on #5214
close it as resolved with latest release. Thanks

[2022-03-08 06:39] #5214 closed

[2022-03-08 06:44] qiaozha commented on #5225
No, we don't. This is just a alert about if ms-rest 2.5.5 is an authorized release. And it is truely a known and intended release by us. we can close it directly.

[2022-03-08 06:44] #5225 closed

[2022-03-08 11:17] sjuarezgx commented on #5226
We need something like [AWS CDK](https://aws.amazon.com/cdk/) or [CDK for Terraform](https://github.com/hashicorp/terraform-cdk), by Azure.
Just to use any programming language that we are familiar with, like .Net, Typescript, etc, for our IaC
The problem of Bicep is that it uses declaratives instructions, and we cannot invest in learning a new language now, among other benefits that we'd have by

[2022-03-15 03:50] alex-frankel commented on #5226
As of now, there are no plans to build a CDK equivalent for Azure deployments. If you are comfortable using .NET, you might be interested in the [Farmer project](https://github.com/CompositionalIT/farmer), which allows you to describe your infra in C# or F#.

[2022-03-16 11:09] sjuarezgx commented on #5226
OK, thanks for your reply
What are your recommendations about the [CDK for Terraform](https://learn.hashicorp.com/tutorials/terraform/cdktf)?

[2022-03-17 15:06] sjuarezgx commented on #5226
Ok, thanks.

[2022-03-17 15:47] DavidTMann commented on #5222
This vulnerability was not resolved in the azure-sb library, will this fix be scheduled in there?

[2022-03-21 14:17] DavidTMann opened #5227 "Vulnerability - Inefficient Regular Expression Complexity in validator.js - still apparent in azure-sb latest version"
Moderate Inefficient Regular Expression Complexity in validator.js

Package validator

Patched in >=13.7.0

Dependency of azure-sb

Path azure-sb > azure-common > validator

Still apparent in azure-sb even though previous issue for this has been closed.

More info https://github.com/advisories/GHSA-qgmg-gppg-76g5

[2022-03-21 14:22] #5227 closed, assigned to nobody

[2022-03-29 19:34] presidioshuta opened #5228 "Cannot verify a JWT token via EC Key"
I've successfully created/signed/verified an RSA Key but cannot do so for an EC Key using a JWT (I'm getting a `false` result). I'm guessing that a base64 operation may to blame, but I'm not sure.

examples.ts:
[code]

index.ts:
[code]

jwt.ts:
[code]

[2022-03-31 01:29] maorleger commented on #5228
Experimenting a little bit more with the base64url library the following works as well, but is likely not the most elegant solution (it might be doing too many unnecessary conversions but it gives a starting point):

[code]

[2022-03-31 02:07] presidioshuta commented on #5228
Prepare for my **_L O V E_**

We are cooking with fire now. Thank you!

[2022-03-31 02:07] #5228 closed

[2022-04-11 01:15] lirenhe commented on #5229
Looks this is a data-plane ask, @qiaozha, could you help to find the correct owner?

[2022-04-14 20:52] AntonTimiskov opened #5230 "npm audit reported about a vulnerability in "async" dependency"
async  <2.6.4
Severity: high
Prototype Pollution in async - https://github.com/advisories/GHSA-fwr7-v2mv-hh25

How to fix: update the dependency to the latest version.

[2022-04-15 13:47] bwateratmsft commented on #5230
The pinning to exactly 2.6.0 of `async` is preventing us in the Azure Account extension for VSCode from fixing this.

[2022-04-18 03:04] lirenhe commented on #5230
@qiaozha, could you help to take a look?

[2022-06-13 08:19] dvalko opened #5234 "How to extend message lock duration in nodejs?"
Hi,

I couldn't find How to extend message lock duration in nodejs can someone clarify with an example?

[2022-06-17 13:56] vicdotdevelop opened #5235 "Pass --allow-no-subscriptions to loginWithServicePrincipalSecret"
Is there a way to pass additional options like "--allow-no-subscriptions" to the loginWithServicePrincipalSecret function.
Currently the problem is without this flag we get a token back but then this token is not valid to access the ms sql database.

**Error Message**
ConnectionError: Login failed for user '<token-identified principal>'. Incorrect or invalid token.

In the azure cli this flag is a

[2022-06-22 06:16] qiaozha commented on #5235
@vicdotdevelop Thanks for reporting this.
Could you be more specific what does --allow-no-subscriptions mean ? And have you add role assigment to your service principal over this ms sql database ?
Could you point to me where you see the invalid Github link on the npm ?  Thank you

[2022-06-22 06:23] qiaozha commented on #5234
@dvalko hi Thanks for reaching out, Could you be more specific about your scenario? what kind of Azure Service are we talking about ? what kind of message lock are referring to ? Thank you

[2022-06-22 08:05] qiaozha commented on #5234
close this as we discussed offline, there's another issue https://github.com/Azure/azure-sdk-for-js/issues/22301 track on this.

[2022-07-05 09:46] vicdotdevelop commented on #5235
@qiaozha the invalid github link is directly on the npm page of the lib: https://www.npmjs.com/package/ms-rest-azure
![image](https://user-images.githubusercontent.com/60963842/177300698-7907e0b2-a84a-43c5-a06d-70dadcf1ea6a.png)

[2022-07-05 09:48] vicdotdevelop commented on #5235
We have elaborated the problem and checked a working token against a not working token.
The working token we got by the powershell lib with:

[code]

The not working token we got with the this ms-rest-azure lib:
[code]

The question is: How to pass: resource="https://database.windows.net/" like in the ps into the library? Any suggestions?

[2022-07-05 10:09] qiaozha commented on #5235
ms-rest-azure will be deprecated, Can you try @azure/identity something like these.
[code]
here the scope means resource in your powershell context.

[2022-08-01 13:55] microsoft-github-policy-service[bot] opened #5238 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-08-19 13:41] Kalies18 opened #5239 "error"

[2022-08-19 13:42] Kalies18 commented on #5239
connect EACCES 104.18.26.86:443 - Local

[2022-08-19 13:42] Kalies18 commented on #5239
Close button
⚠️
Error: storing files: request to https://api.nft.storage/upload/ failed, reason: connect EACCES 104.18.26.86:443 - Local (undefined:undefined)

[2022-08-19 13:42] #5239 closed

[2022-08-26 06:49] theamanraj opened #5240 "@azure/arm-consumption - Issues while getting usageDetail data with SDK- v9.0.1"
Hi Team,

I'm using nodejs sdk to get usageDetail list:

![image](https://user-images.githubusercontent.com/33025632/186833390-7cf54717-f1c2-4bac-85c3-da53fa1b59cc.png)

In response I am getting the basic data as you can see in below snippet.

![image](https://user-images.githubusercontent.com/33025632/186838502-4734b88f-52d9-4198-9bd4-fb30caf4be8a.png)

But while using the API, I am getting the c

[2022-08-31 07:55] #5238 closed

[2022-09-15 13:31] microsoft-github-policy-service[bot] opened #5241 "This repo is missing a license file"
This repository is currently missing a LICENSE.MD file outlining its license. A license helps users understand how to use your project in a compliant manner. You can find the standard MIT license text at the Microsoft repo templates LICENSE file: https://github.com/microsoft/repo-templates/blob/main/shared/LICENSE.
If you would like to learn more about open source licenses, please visit the docume